[2021-10-04 23:44] kjellr opened #5 "Ensure full-width items within post content go full-width"
_Flagging this issue from https://github.com/WordPress/twentytwentytwo/pull/4#discussion_r721786880 to follow up later:_

Due to some left/right padding rules, `alignfull` items within posts and pages do not actually extend to the full width of the page:

<img width="1272" alt="Screen Shot 2021-10-04 at 7 40 10 PM" src="https://user-images.githubusercontent.com/1202812/135938627-d5c08a48-9164-4ae2

[2021-10-05 13:12] kjellr opened #7 "Front-end margins around the content do not match the site editor"
There are a couple extra front-end margins that don't currently sync up with the site editor. Both of these have Gutenberg issues filed, but I'm noting them here so we can keep track of them:

---

- [x] **Extra spacing around the `body` on the front end:**

<img width="1280" alt="Screen Shot 2021-10-05 at 8 08 30 AM" src="https://user-images.githubusercontent.com/1202812/136025059-5f7df008-640b-4

[2021-10-05 17:20] kjellr opened #11 "Search block is missing styles"
Current state:

<img width="680" alt="Screen Shot 2021-10-05 at 1 19 12 PM" src="https://user-images.githubusercontent.com/1202812/136071809-f5d1ed67-a581-4dfd-864a-13a140635cfb.png">

[2021-10-05 18:07] kjellr opened #12 "Determine strategy for block patterns"
In previous themes, block patterns were bundled directly with the theme itself. We should consider doing that here, but also keep an eye on Pattern Directory progress. Can we instead put these patterns in the directory?

In addition to opening these patterns up to users beyond this single theme, having our patterns in the directory would cut down our theme code considerably, ensure translation is

[2021-10-05 18:14] kjellr opened #13 "Block Patterns: Add Query Patterns"
![Query Patterns](https://user-images.githubusercontent.com/1202812/136079424-af6b40df-00ac-44d7-af26-b220b825839a.png)

These mockups are available with more detail in [the theme's Figma file](https://www.figma.com/file/76mfUcaK4QDlrXElk8MK3H/?node-id=758%3A4770).

[2021-10-05 18:14] kjellr opened #14 "Block Patterns: Add Header Patterns"
![Header patterns](https://user-images.githubusercontent.com/1202812/136079592-8e550fd9-740b-41a8-b118-d93a5ec11b9f.png)

These mockups are available with more detail in [the theme's Figma file](https://www.figma.com/file/76mfUcaK4QDlrXElk8MK3H/?node-id=758%3A4770).

[2021-10-05 18:17] kjellr opened #15 "Block Patterns: Add About Me Patterns"
![About Me patterns](https://user-images.githubusercontent.com/1202812/136080143-084249c1-29d4-4b28-a90b-aaf8d110645a.png)

These mockups are available with more detail in [the theme's Figma file](https://www.figma.com/file/76mfUcaK4QDlrXElk8MK3H/?node-id=758%3A4770).

[2021-10-05 18:19] kjellr opened #16 "Block Patterns: Add Footer Patterns"
![Footer Patterns](https://user-images.githubusercontent.com/1202812/136459498-3b315599-f210-4e2a-aa6c-41440284ced1.png)

These mockups are available with more detail in [the theme's Figma file](https://www.figma.com/file/76mfUcaK4QDlrXElk8MK3H/?node-id=758%3A4770).

[2021-10-05 18:19] kjellr opened #17 "Block Patterns: Add General Patterns"
![Frame 132](https://user-images.githubusercontent.com/1202812/137927437-13bddb5c-808c-4204-a6f0-89273f6e73b4.png)

More details in [the Figma file](https://www.figma.com/file/76mfUcaK4QDlrXElk8MK3H/Twenty-Twenty-Two?node-id=758%3A4770).

[2021-10-05 18:26] kjellr opened #19 "Block Patterns: Add Page Layout Patterns"
These patterns are designed as sort of "posters" for the web, intended to be used as the entirety of the page content.

![Frame 2](https://user-images.githubusercontent.com/1202812/136080878-6bbad782-dbd1-4f11-bc59-6ac361e49fd2.png)

These mockups are available with more detail in [the theme's Figma file](https://www.figma.com/file/76mfUcaK4QDlrXElk8MK3H/?node-id=758%3A4770).

I'm including `[Stat

[2021-10-05 18:26] jffng opened #20 "Create Testing Content"
It would be nice to create and supply a content xml specific to the theme, to make it easier for folks to test and debug.

[2021-10-05 18:29] jffng opened #21 "Set up 2022.wordpress.net"
We should set up a development site + a github action that deploys `trunk` of this theme. This is probably separate from 2022.wordpress.net?

[2021-10-05 19:13] kjellr opened #24 "Add code quality checks to PRs"
We don't expect to have much CSS or PHP (and hopefully no Javascript at all!), but the code we do have should be checked against WP standards.

For reference, here's the same discussion for Twenty Twenty-One: https://github.com/WordPress/twentytwentyone/issues/9

[2021-10-06 17:36] MaggieCabrera commented on #11
I had the markup for testing this block around, I'm dropping it here for easier testing:

[code]

How it looks like on TT2:

<img width="757" alt="Screenshot 2021-10-06 at 19 36 05" src="https://user-images.githubusercontent.com/3593343/136254955-23f2b43a-12f9-4654-a6fd-a0022c7754b0.png">

[2021-10-06 18:03] AbmSourav opened #28 "Internationalization hook not added into `after_setup_theme`"
WordPress internationalization hook `load_theme_textdomain` is not initialized into `after_setup_theme` hook.
Please let me know, I'll love to send a pull request :)

[2021-10-06 18:14] AbmSourav opened #29 "Some functions don't have duplicate checks"
`twentytwentytwo_scripts` and `twentytwentytwo_editor_styles` functions don't have duplicate checks with `function_exists` function.
I'll love to send PR after hearing from a maintainer... :)

[2021-10-06 18:36] jffng opened #30 "String translation in templates"
There are currently a few strings in the block templates that we will need to figure out what to do with from a translation / i18n perspective. Let's use this issue to discuss and track what to do there:

- [x] Footer Credit
- [x] 404

Related Gutenberg issues / explorations:

- https://github.com/WordPress/gutenberg/issues/27402
- https://github.com/WordPress/gutenberg/pull/33217
- https://github

[2021-10-06 18:37] jffng commented on #29
That would be great, thank you @AbmSourav.

[2021-10-06 18:41] jffng commented on #28
👋 Depending on how #30 is handled, I am wondering whether we will need to use this function.

[2021-10-06 19:01] kjellr commented on #28
I think we probably do need it — if we do bundle any patterns with the theme, we'd need to use a textdomain. (Though that in turn depends on #12).

[2021-10-06 19:32] jffng opened #32 "Source Serif Pro not being loaded in the editor"
Currently the bundled font, Source Serif Pro, is not loaded in the site or post editor. No errors are thrown in the console.

[2021-10-06 20:33] kjellr opened #33 "Comment form is missing basic styles"
We don't want to do anything custom here, so I think these should look good out of the box. They are currently tiny and do not inherit the normal text size. Also that "Save my name, email..." lockup is pretty messy. Gutenberg should take care of that natively.

There's already a Gutenberg issue to fix this: https://github.com/WordPress/gutenberg/issues/26865

<img width="736" alt="Screen Shot 2021

[2021-10-06 20:36] pattonwebz commented on #5
The most common technique I have seen used to do this is with CSS similar to this:

[code]

That has some implications on chrome where it can cause a horizontal scroll bar due to chrome (possibly all webkit browsers) not accounting for the vertical scrollbar when it calculates what 100vw is. I think it's worth exploring if this will be suitable and if the kinds with chrome can be worked out.

[2021-10-06 20:40] pattonwebz commented on #24
I know it's not right to comment without useful insights to share but I had to comment on this:

Just to say how wonderful that sounds :)

[2021-10-06 20:52] pattonwebz opened #34 "Add `hacktoberfest` topic"
Can we add the `hacktoberfest` topic to the repo throughout October to encourage some additional participation and contributions?

[2021-10-06 21:01] pattonwebz opened #35 "Fix phpstan issue with enqueue function"
_Originally posted by @jffng in https://github.com/WordPress/twentytwentytwo/issues/26#issuecomment-937118508_

Because `wp_get_theme()->get()` can return `array|string|false` but the `wp_enqueue_style()` can only accept `bool|string|null` this error is flagged. We can either do a type check in advance to verify string or we can pass a static string.

I will open a PR with a typecheck and ternary

[2021-10-06 22:14] richtabor opened #37 "Add gigantic and colassal font sizes to typography.fontSizes"
Is the a particular reason why the `gigantic` and `colossal` font sizes were omitted from `typography.fontSizes`? Or were they just looked over?

They are added as ([custom css properties](https://github.com/WordPress/twentytwentytwo/blob/trunk/theme.json#L38-L39)), but not  accessible within the font size UI.

[2021-10-06 22:31] audrasjb opened #39 "Do not use H1 by default for footer site title"
We should rather use a paragraph for this block by default.

[2021-10-06 22:36] richtabor opened #41 "Support gradients"
We should consider supporting gradients, as the theme should showcase what's possible/inspire folks.

I have some ideas I can pitch to fit the vibe that I'll push. :)

[2021-10-06 22:37] audrasjb commented on #34
100% agree 👍

[2021-10-06 22:54] audrasjb opened #44 "Address a floating issue on the <main> element"
I believe we need to add an `overflow: hidden` declaration to the `<main>` element on each template to avoid floating issues. Not sure where is the best location for this CSS declaration though.

Issue:

![screencapture-localhost-8888-twentytwentytwo-about-clearing-floats-2021-10-07-00_50_16](https://user-images.githubusercontent.com/1590998/136294350-fcc66435-d420-4ff2-a5c8-7d6b2d77d159.png)

[2021-10-07 02:55] nielslange commented on #32
Happy to look into this one. 😀

[2021-10-07 07:37] MaggieCabrera opened #48 "Stretched image on home page"
<img width="914" alt="Screenshot 2021-10-07 at 09 35 11" src="https://user-images.githubusercontent.com/3593343/136340183-ae2e25f0-9f91-403c-b42b-1b1577594b27.png">

This is happening to me on Firefox and on my iPhone too, testing on Kjell's staging website. I believe this should be solved by https://github.com/WordPress/gutenberg/pull/30092

[2021-10-07 10:50] kraftbj commented on #21
It could be 2022.wordpress.net. The action would need to push up via SFTP/SSH and we'd need to create a key for it. Previous sites, I manually updated it ~weekly during dev.

Happy to own this one.

[2021-10-07 11:36] kjellr commented on #21
Thanks, @kraftbj!

[2021-10-07 11:37] kjellr commented on #48
Yeah, that's the issue that's causing it. Should be solved in the next release now that it's been merged. 👍

[2021-10-07 13:12] #39 closed, assigned to nobody

[2021-10-07 13:16] jffng commented on #35
Thanks for following up.

What do you think about doing this instead?

[2021-10-07 13:17] kjellr commented on #37
Yeah! The reason I left those out was to restrict us to using the same exact 5 font size names that ship with core by default (small, normal, medium, large, huge). Since there's no core-adopted naming paradigm beyond that I thought it was safer to keep these extra two values out separate for now.

I'm happy to reconsider, but I think this sets us up better to change them later on if we need to. On

[2021-10-07 13:24] pattonwebz commented on #35
I believe this is the cleanest solution here - to just keep the flag to ignore this in static analysis. Let's leave this issue and PR open for a little while though to get others thoughts :)

[2021-10-07 13:47] #29 closed, assigned to nobody

[2021-10-07 14:25] kjellr commented on #7
Both of these issues have been fixed in Gutenberg, so I'm going to close for now.

[2021-10-07 14:25] #7 closed

[2021-10-07 14:26] #48 closed, assigned to nobody

[2021-10-07 15:23] nickhamze opened #53 "Alternate Styles"
First off the theme is beautiful as expected as @kjellr is da bomb. The aspect I'm a bit disappointed over is the alternative styles. While they are again very nice they are very similar to the default style.

While it's possible for users to set their own colors/fonts I would love to see some built in styles that are a bit different. While the default themes are functional they are also suppose t

[2021-10-07 15:52] kjellr commented on #53
This sort of thing will be low priority, but I’m going to just note a few quick things:

1. I love weird stuff, and would like to build more weird stuff.
2. What we’re thinking of as “alternate styles” may end up just being entirely different themes. If that's the case, we as a community can build as many of those as we want — what's mocked up in the announcement post, and beyond.
3. Either way, a

[2021-10-07 16:09] kjellr opened #54 "Edited Navigation doesn't sync between the two header template parts"
In order to provide the reversed-out header for our front page template, we need to use two separate header template parts:

`header-large-dark.html`|`header.html`
---|---
<img width="688" alt="Screen Shot 2021-10-07 at 11 59 37 AM" src="https://user-images.githubusercontent.com/1202812/136422342-b0d4f177-3e37-4103-97c1-77e384eb5483.png">|<img width="689" alt="Screen Shot 2021-10-07 at 12 05 20 PM

[2021-10-07 16:13] youknowriad commented on #54
I think that's good feedback for the team working on Navigation block as they're working on related flows. cc @talldan

[2021-10-07 16:26] nickhamze commented on #53
I thought so, but I thought I'd try. Thanks for the quick reply.

One note. Not everything that isn't _minimalistic_ and _clean_ is "weird".

[2021-10-07 16:26] #53 closed, assigned to nobody

[2021-10-07 16:41] Otto42 commented on #28
Calls to load the textdomain manually are not required and actually have not been since about WordPress 4.6 or so.

Short version: If you have the proper "Text Domain" and "Domain Path" headers in the style.css file, then WordPress will automatically load the text domain on a just-in-time basis, when they are needed.

The Text Domain should always be identical to the theme's slug, in this case, "t

[2021-10-07 16:57] kjellr commented on #28
Thanks for the background, @Otto42 — that's really helpful. I think we can close in that case.

[2021-10-07 16:57] #28 closed

[2021-10-07 20:07] #35 closed, assigned to nobody

[2021-10-07 20:30] #54 closed, assigned to nobody

[2021-10-07 20:33] kjellr opened #58 "Site title link color is incorrect on the front end"
Flagging a followup from #55:

The Site Title color doesn't appear to inherit the correct white link color on the front end, even though it's properly set on the container. Seems like a likely Gutenberg bug, but could use more investigation.

Editor|Front End
---|---
<img width="1246" alt="136429831-20926ff9-4434-4593-97a5-473b102399f0" src="https://user-images.githubusercontent.com/1202812/136457

[2021-10-07 20:45] kjellr commented on #16
I just updated the issue here with a handful of patterns we can get started with. 👍

[2021-10-07 20:47] pattonwebz opened #59 "Tracking non-committer contributions"
For past default themes, we have tried to include the list of people that contribute to discussions as well as code committers. There isn't really a good mechanism for that so trying to start compiling a list as early as possible might be a good idea.

[2021-10-07 20:49] colorful-tones opened #60 "Homepage content & user experience"
Perhaps I'm not familiar enough with Block Theme/FSE, but as an everyday editor I would be confused by the following dilemma. I created a new empty WordPress site in Local. I have TwentyTwentyTwo theme activated and latest Gutenberg.

I already have **44 posts** I've generated using [FakerPress plugin](https://wordpress.org/plugins/fakerpress/). I visit my site's homepage and see: "Welcome to Word

[2021-10-07 20:52] colorful-tones commented on #60
I've gone ahead and installed, activated WordPress Beta Tester and I'm now running WordPress 5.9-alpha-51894 and still the same experience. 🤔

[2021-10-07 20:56] colorful-tones commented on #60
Furthermore, as a user I'm on my homepage and seeing the "Welcome to WordPress. This is your first post. Edit or delete it, then start writing!" message and I'm confused. So, I proceed with thinking that maybe I need to add a Query Loop block to the page. So, I click "Edit site" in WP Admin Bar, and I'm in the Site Editor and see: "This is for placeholder content." and I'm not able to add a Query

[2021-10-07 20:59] colorful-tones commented on #60
Also, the "Welcome to WordPress. This is your first post. Edit or delete it, then start writing!" gives me little actionable items. The "Edit" and "delete" are not links and there is not even an option to "Edit Page" in the WP Admin Bar (just "Edit Site", but it says and implies to _edit my first post_. 🤷‍♂️

[2021-10-07 21:55] colorful-tones opened #61 "Add CSS reset"
I know we're trying to keep CSS mostly out of the theme, but likely a reset will be necessary. Unless we want to try to do something more upstream: Gutenberg or WordPress core integration?

I would recommend Andy Bell's (@andy-piccalilli) [`modern-css-reset`](https://github.com/andy-piccalilli/modern-css-reset).

Thoughts? Feedback?

[2021-10-07 23:33] Otto42 commented on #28
Just adding this to note that this only applies to themes and plugins hosted on wordpress.org. Those get translated by the translation pack system. Third party code hosted elsewhere should include their own translations, as per usual.

[2021-10-07 23:44] Otto42 commented on #59
Maybe relevant.. since early development happens on GitHub, if everybody involved makes sure to connect their GH account to https://profiles.wordpress.org/ then that makes things a bit easier all around.

[2021-10-08 02:33] talldan commented on #54
Yep, very early exploration of this here - https://github.com/WordPress/gutenberg/pull/35418.

[2021-10-08 05:19] carolinan commented on #61
The upstream issue and discussions are here:
https://github.com/WordPress/gutenberg/issues/27116

https://github.com/WordPress/gutenberg/pull/27517#issuecomment-743181613

[2021-10-08 05:35] carolinan commented on #58
I am actually seeing the white link color on the black background (front), and the black link color on the white background (inner pages) 🤔

Current Gutenberg trunk, current theme trunk, Chrome, Windows. The only change I made was to add a logo since there is a logo in the screenshot above.

[2021-10-08 08:08] jasmussen commented on #58
To only echo Carolina, I think this may have been fixed in latest trunk:
<img width="1726" alt="Screenshot 2021-10-08 at 10 06 32" src="https://user-images.githubusercontent.com/1204802/136521183-d97265e5-8029-4a22-8174-ef5b5c11b0ff.png">

[2021-10-08 08:46] kafleg commented on #34
Totally agree and we need to do it soon.

[2021-10-08 12:01] colorful-tones commented on #61
@carolinan thanks for linking up those upstream conversations. Very helpful.

I feel like this could likely be elevated and recommended as a WordPress core feature alongside an option in `theme.json` for themes to opt in/out.

I’m willing to attempt a Trac ticket if there is ample momentum and foreseeable need. Thoughts?

[2021-10-08 13:07] Sandstromer commented on #60
I am able to recreate this issue with the same fresh install default 'Reading' settings.

It looks like this is caused by the theme's `front-page.html` template, which only contains the Post Content block ``, rather than the Query Loop block that is found in the `index.html` template.
The consequence of this is that the full content of single oldest post (usually the default Hello World! post) is

[2021-10-08 13:50] pattonwebz commented on #34
@kjellr @jffng do one of you have the access needed to add this?

[2021-10-08 13:51] kjellr commented on #60
I think the issue here is template hierarchy, and to be honest, [it always been confusing](https://wp-mix.com/difference-between-home-front-page-php/). 😅

I _think_ the solution is that we shouldn't actually be using `front-page.php` here, but off the top of my head I'm not sure the correct template(s) we need to use instead. Might also be a Gutenberg issue though.

[2021-10-08 14:20] carolinan commented on #58
Ah yes https://github.com/WordPress/gutenberg/pull/35446

[2021-10-08 14:23] carolinan commented on #61
It is not for me to decide -Can you show an issue that adding the reset would solve?

[2021-10-08 14:40] kjellr commented on #60
It's `home.php`. 😄 #69 should take care of this.

[2021-10-08 15:00] jffng commented on #34
Added 👍
<img width="312" alt="Screen Shot 2021-10-08 at 11 00 24 AM" src="https://user-images.githubusercontent.com/5375500/136579418-8696f12c-689e-4506-a50e-8b6a8fe745e0.png">

[2021-10-08 15:00] #34 closed, assigned to nobody

[2021-10-08 15:04] jffng commented on #32
Closed by #50

[2021-10-08 15:04] #32 closed, assigned to nobody

[2021-10-08 15:09] Sandstromer commented on #60
It's tricky because in a classic php theme you could do something like have a conditional check for `show_on_front`, use a dedicated front page template if true, and use the index or home template if not true.

In block themes we lose this ability and have to follow the hierarchy.

TT1 Blocks theme has a `page-home.html` template that the user can select, but as I understand it there doesn't seem

[2021-10-08 15:10] pattonwebz commented on #34
@jffng your a star :star: . Thank you!

[2021-10-08 15:15] colorful-tones commented on #61
I know. 👍

My initial problem was the `margin` on the `body`, but it seems likely there is already a fix for that in the works upstream: https://github.com/WordPress/gutenberg/pull/35421/files

However my next potential candidate for solving with a reset would be enabling a better experience for end users with respecting their choice for animations, e.g.

[code]

Yes, this presumes that animations

[2021-10-08 15:18] kjellr commented on #60
Yeah, I just reworked #69 to use a `page-home.html` and avoid using a `home.html` entirely. I think that's our best bet for the moment.

[2021-10-08 15:20] pattonwebz commented on #60
Does using `page-home.html` then rely on the slug of the page being `home`?

[2021-10-08 15:21] kjellr commented on #60
[Yeah](https://github.com/WordPress/twentytwentytwo/pull/69#issuecomment-938724308), which isn't ideal.

[2021-10-08 15:22] kjellr commented on #61
Yeah, I don't think this specific theme should bundle any sort of reset. If one is needed, it would theoretically benefit all themes.

[2021-10-08 15:23] pattonwebz commented on #60
Not ideal but I don't have any better ideas for an alternative either :(

What is kinda nice though is showcasing more granular use of template hierarchy - which isn't often seen in themes and I don't think ever used in a default theme :)

[2021-10-08 15:27] kjellr commented on #58
I see it now too! 🙌

I'll mark as closed for now. Thanks everyone!

[2021-10-08 15:27] #58 closed, assigned to nobody

[2021-10-08 15:36] jffng commented on #59
Maybe we can make a PR to update https://github.com/WordPress/twentytwentytwo/blob/trunk/CONTRIBUTORS.md on a weekly basis?

[2021-10-08 15:38] pattonwebz commented on #59
That sounds good to me, I am happy to take on that action and create those PRs every week on a Friday and try my best to keep it all updated with people that have both added code and also people that have contributed to the discussions :)

Could you assign this ticket to me and flag it as a WIP or something so it doesn't get closed?

[2021-10-08 15:38] kjellr commented on #59
Thanks for your help, @pattonwebz!

[2021-10-08 16:03] #60 closed, assigned to nobody

[2021-10-08 19:49] jffng commented on #37
I'm in favor of standardizing the fonts sizes to the five that ship with core, and use specific font size values for `gigantic` and `colossal` in the patterns. Okay if we close this one @richtabor ?

[2021-10-08 20:14] jffng opened #75 "Related Gutenberg Issues and PRs"
Let's use this issue to track and prioritize issues that are needed for the theme.

**Must have**
- [ ] https://github.com/WordPress/gutenberg/issues/35607
- [x] https://github.com/WordPress/gutenberg/issues/35525
- [x] https://github.com/WordPress/gutenberg/issues/36084
- [x] https://github.com/WordPress/gutenberg/pull/33217
- [x] https://github.com/WordPress/gutenberg/issues/26901 https://github

[2021-10-09 14:59] reinhart1010 opened #78 "Built-in, optional support for microformats2?"
[microformats and microformats2](https://developer.mozilla.org/en-US/docs/Web/HTML/microformats) have existed for such a long time (first in 2005), and some people are still using it to allow their sites to be (semantically) discoverable by anyone.

My idea here is to sidechain a set of [microformats2](https://microformats.org/wiki/microformats2) class markups into the current set of WordPress-spe

[2021-10-10 13:30] kjellr commented on #78
Thanks for the issue, @reinhart1010! I'm not personally too familiar with microformats, but this seems like something that would need to be added upstream Gutenberg rather than here in the theme. Since this is a block-based theme, it doesn't actually add its own markup for `entry-content`, categories, tags, etc. All of that is provided by the default Gutenberg blocks.

[2021-10-11 14:23] jffng commented on #24
Closed by #73.

[2021-10-11 14:23] #24 closed

[2021-10-11 14:45] #37 closed, assigned to nobody

[2021-10-11 16:10] jffng opened #82 "Meet WCAG AA level accessibility requirements"
**Description**

2022 should be WCAG AA level compliant. What is needed to achieve this? Let's use this issue to discuss and track.

[2021-10-11 18:10] TeBenachi opened #83 "WCAG AA level - Multiple ways"
A site must have multiple ways to find a page on the website. I think the only way to meet this requirement as a FSE is to add the search in the header or the footer.

https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=245#multiple-ways

[2021-10-11 18:12] TeBenachi commented on #82
Providing multiple ways to locate a page within a website. #83

[2021-10-11 18:15] kjellr commented on #83
I'm curious how this requirement was met with Twenty Twenty-One last year? That theme targeted AAA level, but did not include a search field by default.

I think that this could be fulfilled many different ways: two navigation areas, a sitemap, etc. It's partially a theme problem, but also a consideration for content creators (especially in the case of a block theme).

[2021-10-11 19:05] melchoyce commented on #16
I've started working on the markup for these. There are some issues around spacing caused by mixing rems in padding and pixels in height, so everything's not quite even. There were a few instances where I also wasn't sure whether to do more or less spacing. Here's a preview:

![Screenshot 2021-10-11 at 15-05-42 Footer Patterns – Twenty Twenty-Two](https://user-images.githubusercontent.com/2846578/

[2021-10-11 19:14] kjellr commented on #16
Thanks for your help, @melchoyce! I'll turn these into a PR.

[2021-10-11 20:59] melchoyce commented on #15
Tried putting these together. Similar spacing issues as #16, and on the third pattern, I had to use a horizontal navigation block instead of a hamburger since that's not available on desktop. I also used a cover block instead of a full-width image block for the fourth pattern due to an image proportion bug I'm investigating.

![Screenshot 2021-10-11 at 16-57-49 About Patterns – Twenty Twenty-Two](

[2021-10-11 21:25] paaljoachim opened #86 "GB issue: Move the post title to the top bar"
**Is your feature request related to a problem? Please describe.**

The post/page title is stuck in the layout. If a user wants to hide the title they will need to use CSS.

**Describe the solution you'd like**

The possibility to remove the title from the layout and instead add the Post Title block would create a lot of really nice flexibility as well as designs.

There is a PR that has gone stal

[2021-10-11 21:37] colorful-tones commented on #83
Additional nuance and context should be considered here. Yes, this theme has the outright potential to be used on 10,000+ sites, but it is hard to speculate whether those sites will have 2 pages, or 30+ pages.

From [Understanding Success Criterion 2.4.5: Multiple Ways](https://www.w3.org/WAI/WCAG21/Understanding/multiple-ways.html) > [Intent](https://www.w3.org/WAI/WCAG21/Understanding/multiple-w

[2021-10-11 21:47] paaljoachim opened #87 "GB issue: Allow using featured image as background"
**Is your feature request related to a problem? Please describe.**

We are limited in how we show the featured image. There is a Featured Image block, but it is very limited in use.

**Describe the solution you'd like**

Allow using featured image as background in the Cover and Group block as well as other blocks. A general approach.
https://github.com/WordPress/gutenberg/issues/24660

[2021-10-11 21:53] colorful-tones commented on #61
I'm trying to track down related Gutenberg or WP core tickets that may be related and provide coverage or solutions to address avoiding a CSS reset (on a line by line basis).

I agree, that it would be ideal to keep this out of the theme, but would like to see some good coverage, and suspect that stuff like `html:focus-within` and `@media (prefers-reduced-motion: reduce)` stuff is a nice-to-have,

[2021-10-11 22:08] colorful-tones commented on #61
The need for `body { margin: 0; }` in a CSS reset is likely addressed in upstream, recently merged (not in release yet) [Remove default padding/margin on the body of the page and editor canvas #35421](https://github.com/WordPress/gutenberg/pull/35421/files) <- needs testing and confirmation though.

[2021-10-11 23:20] kjellr commented on #15
Thank you!

I think that's probably [this issue](https://github.com/WordPress/gutenberg/pull/30092), which should be fixed in the next Gutenberg release.

[2021-10-12 14:41] kjellr opened #89 "Header Patterns: Followup Fixes"
Following up from #74, there are a few header patterns with unfortunate responsive behavior. I'm creating this issue so that we can continue to track the issues:

## Header with Tagline

- [ ] This wraps poorly on small screens. ([Screenshot](https://cloudup.com/cxBvFm2Oj3V))

## Text-only Header with Tagline

- [ ] This wraps poorly on small screens. ([Screenshot](https://cloudup.com/cz_z0CveuCt)

[2021-10-12 14:41] #13 closed

[2021-10-12 14:45] kjellr commented on #86
Hey @paaljoachim I don't think this is specifically related to the theme — it's Gutenberg UI. We should let this issue remain in Gutenberg and address it there.

[2021-10-12 14:47] kjellr commented on #87
While it would make sense to allow for this, we won't be doing anything special in the theme to allow for it. We don't have any patterns planned that use this sort of treatment, so I don't think it makes sense to keep the issue open here for now.

If that changes, we can reopen and move this issue to #75.

[2021-10-12 14:47] #87 closed, assigned to nobody

[2021-10-12 14:48] paaljoachim commented on #86
Hey @kjellr

The reason why I added it here is that we can think of ways in which getting the PR merged can add suggestions to the new theme. That is also the reason why I added the other issue: https://github.com/WordPress/twentytwentytwo/issues/87

But I can always also close this issue.

[2021-10-12 14:48] #86 closed, assigned to nobody

[2021-10-12 15:01] kjellr opened #90 "Query Patterns: Followup Fixes"
Following up from #84, there are a few query patterns that require followup:

## Default Posts

- There's no current way to enforce a responsive square shape for featured images. (https://github.com/WordPress/gutenberg/issues/35524) _Edit: Not coming for 5.9._

## Simple Blog Posts

- [x] The margin set on the post titles does not appear correct on the front-end. (https://github.com/WordPress/gute

[2021-10-12 15:03] kjellr commented on #14
Closed via #74.

[2021-10-12 15:03] #14 closed, assigned to kjellr

[2021-10-12 15:10] #16 closed, assigned to kjellr

[2021-10-12 15:20] kjellr opened #91 "Footer Patterns: Followup Fixes"
Following #85, there are a couple small things that we should try and readdress for the footer patterns:

## Footer with query, title, and citation

- [x] Title and citation are oddly aligned on small screens. ([Screenshot](https://cloudup.com/ciMq4alVqwh))

## Footer with query, featured images, title, and citation

- [x] Title and citation are oddly aligned on small screens. ([Screenshot](https:

[2021-10-12 16:37] colorful-tones commented on #61
I just tested this and confirm `body { margin: 0; }` upstream fix is making a desired impact on this theme. 👍

[2021-10-12 17:38] kjellr opened #92 "Include the flying bird image in the homepage header"
The original mockup for the theme includes this flying bird image on the homepage template:

<img width="622" alt="Screen Shot 2021-10-12 at 1 33 06 PM" src="https://user-images.githubusercontent.com/1202812/137002726-9d8d29ed-6fed-4a2e-994e-108cbbcecfa4.png">

This has been left out for now while we figure out the best way to include it. Here's the situation:

Normally, we'd bundle this image in

[2021-10-12 17:57] TeBenachi commented on #83
Thank you for pointing out the [G185: Linking to all of the pages](https://www.w3.org/WAI/WCAG21/Techniques/general/G185). Considering the homepage can serve the purpose,  I think it’s safe to say no need for the search as default.

[2021-10-12 18:01] jffng commented on #33
Actually following the Gutenberg issue above, it sounds like @karmatosed may be taking a look at supplying some better defaults in https://github.com/WordPress/gutenberg/pull/27009, so I'll follow along there! 🙏

[2021-10-12 18:18] melchoyce commented on #19
Not sure the best way to approach these. For the first layout, I set up a basic page template to output the title and content:

[code]

Then inside the page itself, I created the rest of the layout:

[code]

That ends up looking like this:

![image](https://user-images.githubusercontent.com/2846578/137008443-8590a7b8-4960-4f9b-9572-a3af16d00ca1.png)

(Note: the Post Title block doesn't allow you t

[2021-10-12 18:51] scruffian commented on #78
Yeah, this would be great, but it needs to go in Gutenberg itself. You can open an issue for it in Gutenberg here: https://github.com/WordPress/gutenberg/issues/new/choose

[2021-10-12 19:10] kjellr commented on #19
Ultimately, I hope we have an entire page layout picker where you could choose these.

But think for now, we should just contain the entire layout within a single standard block pattern. So picture this as if you've got an entirely blank page template, and you're entering all of this inside the post content. I'm a little torn on whether the headline should be a post title, etc. For now let's have

[2021-10-12 19:21] melchoyce commented on #19
How's this?

[code]

[2021-10-12 19:29] kjellr commented on #19
Looks great, thank you!

[2021-10-12 19:50] melchoyce commented on #19
## Watching Birds in the Garden:

[code]

Media: https://cloudup.com/cdqx9Vwb--j

-----

## Warble

[code]

Media: https://cloudup.com/cPTiFc6MJ_C

Threw together a quick video for this one, since it looked like a video embed from the mockup. We don't need to use it, I just wanted to get an example in there.

I wasn't able to align the inside of the cover block with the wide-width text above and b

[2021-10-12 20:18] kjellr commented on #19
Thank you!

[2021-10-12 20:59] pbking commented on #21
@kraftbj I opened #94 for an alternate "workshop" location where we can have an uh... less appealing and more edge-casey site than 2022.wordpress.net while we bang out some kinks.

Perhaps that action could be augmented to also include 2022.wordpress.net for a location with cleaner content?

[2021-10-12 21:11] kraftbj commented on #21
I like that idea @pbking. Either augment or have a second one that does the same thing. I've requested the site and asking the Systems folks if they prefer a SSH keypair or user/pass for a dedicated SFTP user for this purpose. Thank you!

[2021-10-12 21:27] colorful-tones commented on #61
After reflecting a bit more on this and synthesizing feedback. I think that my proposed reset is unnecessary.

It is unlikely that this theme will not have any `animation` or `transition`, because of the drive to keep as much CSS out of the theme, and I do not see a drive to include `animation` or `transition` within the `theme.json`. So, justifying the need for the `@media (prefers-reduced-motion

[2021-10-12 21:28] #83 closed, assigned to nobody

[2021-10-13 05:00] Mamaduka commented on #75
The `gutenberg#35551` issue is listed twice here.

[2021-10-13 08:01] reinhart1010 commented on #78
Before I forward this into Gutenberg: will Gutenberg also be responsible to handle how author names are displayed in this theme, let's say, for the [`.h-card`](http://microformats.org/wiki/h-card) markup?

[2021-10-13 09:36] scruffian commented on #78
Yeah, that would use the Post Author block from Gutenberg.

[2021-10-13 12:22] kjellr commented on #61
Thanks for keeping tabs on this and following up, @colorful-tones! I think we can close this and the associated PR for now. We can always re-assess later if need be.

[2021-10-13 12:22] #61 closed, assigned to nobody

[2021-10-13 13:20] jffng opened #99 "Buttons need hover, active, and focus states"
**Describe the bug**
Currently the buttons do not have hover, active, or focus states. ~Also it looks like their font weight is incorrect.~

**Screenshots**
Current | Desired
------- | --------
<img width="272" alt="Screen Shot 2021-10-13 at 9 16 06 AM" src="https://user-images.githubusercontent.com/5375500/137140442-f3efe364-0c08-48ad-b18b-39e24937939e.png"> | <img width="981" alt="Screen Shot 20

[2021-10-13 13:23] jffng commented on #99
Related upstream issue: https://github.com/WordPress/gutenberg/issues/27075

[2021-10-13 13:28] jffng opened #100 "Verse block appears un-styled"
**Describe the solution you'd like**
The verse block currently appears un-styled:

<img width="1150" alt="Screen Shot 2021-10-13 at 9 26 57 AM" src="https://user-images.githubusercontent.com/5375500/137141977-90c8002d-4dd8-42aa-9878-c09684328131.png">

Do we want to add anything here?

[2021-10-13 13:43] jffng opened #101 "File block download button needs styles"
**Describe the solution you'd like**
The file block's download button is not styled:

<img width="404" alt="Screen Shot 2021-10-13 at 9 41 11 AM" src="https://user-images.githubusercontent.com/5375500/137144588-20f06515-8717-46c7-86d4-513db5d9cd65.png">

The button should match the theme's default button styles. Can button styling of the file block be done with theme.json yet?

[2021-10-13 13:49] jffng opened #102 "Pullquote may need additional styling"
**Is your feature request related to a problem? Please describe.**
Currently the pullquote appears like this:

<img width="723" alt="Screen Shot 2021-10-13 at 9 46 09 AM" src="https://user-images.githubusercontent.com/5375500/137145839-7e0aab33-ed01-4bb2-a149-72548e244e63.png">

Should we make any adjustments by default, e.g. adjusting the spacing and line height?

[2021-10-13 13:51] kjellr commented on #100
I think that's fine — verse should look just like a paragraph except it would retain line breaks.

[2021-10-13 13:53] jffng opened #103 "Quote block may need additional styling"
**Is your feature request related to a problem? Please describe.**

Currently the quote block looks like this:

<img width="715" alt="Screen Shot 2021-10-13 at 9 52 11 AM" src="https://user-images.githubusercontent.com/5375500/137146477-4c2d7d45-39c0-4d6e-ab74-67f5521714a3.png">

**Describe the solution you'd like**
Do we want to make any adjustments here? e.g. the alignment of the border on the d

[2021-10-13 13:54] #100 closed, assigned to nobody

[2021-10-13 14:07] MaggieCabrera commented on #101
AFAIK no, it would fall under this: https://github.com/WordPress/gutenberg/issues/29167

[2021-10-13 16:48] kjellr opened #106 "Query pagination appears incorrectly positioned"
The default query pagination appears to behave very oddly. Lots of misaligned items:

<img width="1286" alt="Screen Shot 2021-10-13 at 12 43 57 PM" src="https://user-images.githubusercontent.com/1202812/137177430-04b8d77b-35bf-4527-ac99-069389988801.png">
<img width="1178" alt="Screen Shot 2021-10-13 at 12 44 04 PM" src="https://user-images.githubusercontent.com/1202812/137177434-78930d59-cd70-4a0

[2021-10-13 16:52] kjellr opened #107 "Responsive navigation: 3rd level items appear off-screen"
Third-level menu items appear cut off (if they appear at all) on small screens. To reproduce, add a Navigation Block with responsive behavior enabled and include menu items that go three levels deep.

In the screenshot below, there are menu items below "Επίπεδο 2 -Second Greek level" and "Level 2":

<img width="571" alt="Screen Shot 2021-10-13 at 12 44 37 PM" src="https://user-images.githubusercon

[2021-10-13 18:14] kjellr opened #108 "Text links need improved styles"
From [the mockups](https://www.figma.com/file/76mfUcaK4QDlrXElk8MK3H/Twenty-Twenty-Two?node-id=729%3A4866):

---

![image](https://user-images.githubusercontent.com/1202812/137189639-de952745-f237-41e4-b99e-e119e21a06b8.png)

---

- Links need more refined text-decoration styles, so that the thin font isn't paired with a [horribly thick underline](https://cloudup.com/czdjAkphnKr). (I think we coul

[2021-10-13 18:19] kjellr commented on #108
If we get desperate, this would take like two lines of CSS to fix:

[code]

Before|After
---|--
<img width="566" alt="Screen Shot 2021-10-13 at 2 09 13 PM" src="https://user-images.githubusercontent.com/1202812/137190488-addbd5f5-61ef-4677-a544-8b299b0b0f5f.png">|<img width="561" alt="Screen Shot 2021-10-13 at 2 04 01 PM" src="https://user-images.githubusercontent.com/1202812/137190519-17416331-b6

[2021-10-13 19:41] jffng commented on #108
Regarding those two lines of CSS, I wonder if they will be supported via the theme.json elements API.

In other words, should we be able to declare `styles.elements.link.typography.textDecorationThickness` and `.textUnderlineOffset`?

[2021-10-13 21:35] kraftbj commented on #21
@kjellr I've setup an admin user for you on the site. You can password recover with your automattic e-mail address (check spam; the wordpress.net servers aren't well-liked).

I've setup Akismet and added a comped account. Comments are all moderated, anyhow, but no need to keep spam around.

[2021-10-14 11:35] kjellr commented on #21
Thanks for the help, @kraftbj! I'll keep this issue open while I populate it with demo content later today, but I'll reassign it to myself.

[2021-10-14 11:36] #21 closed, assigned to kjellr

[2021-10-14 12:20] gregrickaby commented on #108
@kjellr @jffng Could I pick this one up? I'll try using `theme.json` first, and fall back to CSS.

[2021-10-14 13:26] kjellr opened #111 "Remove unnecessary theme supports from functions.php"
https://github.com/WordPress/gutenberg/pull/35593 declares the following by default for all block themes:

[code]

These no longer need to be included in Twenty Twenty-Two's file.

[2021-10-14 13:45] kjellr commented on #108
You're welcome to give it a shot, @gregrickaby! Just know that this might be a little difficult to sort out. I'm really hesitant to use CSS (so far, we don't even enqueue `style.css` in the editor yet since it's not needed), but the mechanisms to make this happen in `theme.json` don't exist yet. The most ideal solution is to get those built into Gutenberg somehow as part of https://github.com/Word

[2021-10-14 13:48] gregrickaby commented on #108
Good to know. I'll look for another issue then. 😅

Appreciate the heads up @kjellr!

[2021-10-14 14:25] TeBenachi opened #112 "Font loading issue"
There seems to be an issue with the font. I noticed there is a note about the core issue [#1573](https://github.com/WordPress/wordpress-develop/pull/1573) but I just want to bring it to attention.

I tested on Firefox and Chrome on macOS. Just to make sure the issue is not with my local settings, I also tested on the hosting server. The error appears to be on both my local and the hosting server.

[2021-10-14 15:43] TeBenachi commented on #82
Below is a list of criteria for meeting WCAG 2.1 AA. There isn't many! It is trimmed down to suit the FSE themes. I did not include most of the criteria because the majority of the criteria are handled by Gutenberg or consideration for content creators.

Please note this checklist is based on [WebAIM's WCAG Checklist](https://webaim.org/standards/wcag/checklist). I’m still learning web accessibili

[2021-10-14 17:20] juricav commented on #111
@kjellr hi, I've made the changes in the file

[2021-10-14 17:46] #111 closed, assigned to nobody

[2021-10-14 19:24] kjellr commented on #112
@TeBenachi, are you testing against the most recent version of the theme? An issue with the font paths was fixed in https://github.com/WordPress/twentytwentytwo/pull/51.

Also, are you seeing the fonts missing in the front-end and the editor? And what WordPress + Gutenberg versions are you using?

Thanks!

[2021-10-14 19:30] #19 closed, assigned to kjellr, MaggieCabrera

[2021-10-14 19:43] kjellr commented on #15
Closed via #110

[2021-10-14 19:43] #15 closed

[2021-10-14 19:57] aaronjorbin opened #114 "Should php functions be pluggable through names?"
Looking through functions.php, I see that the pattern is to use function_exists checks everywhere and thus encourage child themers to use the same function names to change functionality.  This is a pattern for default themes that dates back to at least twentyten. In the years since the various APIs have matured and I think it might be good to question if this is the pattern that should still be en

[2021-10-14 20:26] kjellr commented on #114
FWIW, we originally the theme didn't have these. Then a few folks seemed to support [adding them in](https://github.com/WordPress/twentytwentytwo/issues/29). And then more people [asked that we take them out](https://github.com/WordPress/twentytwentytwo/pull/52). 😅

Personally, I don't think the duplicate checks make much sense, and I'd be happy to get rid of them. In general I've never felt that

[2021-10-14 20:53] TeBenachi commented on #112
@kjellr  Ah sorry about that. The theme was not current 😔
I no longer see the error neither on the front-end nor the editor after updating.

I'm closing this ticket.
Thank you!

[2021-10-14 20:55] #112 closed, assigned to nobody

[2021-10-14 22:27] aaronjorbin commented on #114
I think clear documentation on how to extend things (and what should be extended) is safer than pluggable functions since as you point out, it's possible to do real damage.

If we want to go down this path, I might suggest that we come up with "recipes" for customization and have those documented and then referenced in line.  For example, it's possible that someone's brand is to use a specific ser

[2021-10-15 09:01] aristath commented on #75
https://github.com/WordPress/gutenberg/issues/35591 should also be added to the list above. We need the webfonts API in core & Gutenberg in order to properly implement it in the theme 👍

[2021-10-15 10:00] luminuu commented on #107
Can't reproduce this issue, looks fine to me on both left and right aligned menus:

![Bildschirmfoto am 2021-10-15 um 11 58 55](https://user-images.githubusercontent.com/7585600/137469946-5aa795a8-2fdb-4152-9c43-a32551756c99.png)

![Bildschirmfoto am 2021-10-15 um 11 59 37](https://user-images.githubusercontent.com/7585600/137470038-d74aef4b-234e-4f66-a475-a7a812ea72f1.png)

Using the latest versi

[2021-10-15 10:03] luminuu commented on #106
Looks fine to me in the latest TT2 version and Gutenberg 11.7:

![Bildschirmfoto am 2021-10-15 um 12 02 42](https://user-images.githubusercontent.com/7585600/137470438-c13dee7b-ba21-46e0-80fe-ecc941d79f40.png)

[2021-10-15 10:09] MaggieCabrera commented on #106
This is what I see with the latest from trunk:

First page:

<img width="1061" alt="Screenshot 2021-10-15 at 12 07 49" src="https://user-images.githubusercontent.com/3593343/137471253-1d5909d7-ce28-4a46-97bf-78a602086b86.png">

Pages in the middle:

<img width="1058" alt="Screenshot 2021-10-15 at 12 07 45" src="https://user-images.githubusercontent.com/3593343/137471257-0c05228a-9106-46b7-bb6e-490

[2021-10-15 12:18] kjellr commented on #106
Seems to be gone for me now. Thanks for testing! I'll close.

[2021-10-15 12:18] #106 closed, assigned to nobody

[2021-10-15 12:35] kjellr commented on #107
All set now! This was broken in GB 11.6, but is fixed in 11.7. Thanks for testing!

[2021-10-15 12:35] #107 closed, assigned to nobody

[2021-10-15 14:16] kjellr opened #116 "Add starter content"
On a fresh install, the theme should generally end up matching [the demo site](https://2022.wordpress.net) by default:

![Screen Shot 2021-10-15 at 10 01 26](https://user-images.githubusercontent.com/1202812/137500559-96f76e6e-00b1-41c5-86cd-a858f36e3605.png)

- Add a static homepage, with the `home` slug (so that it inherits our `page-home.html` template. The content of this page should match the

[2021-10-15 14:59] kjellr commented on #116
I opened a Gutenberg issue to explore this there as well: https://github.com/WordPress/gutenberg/issues/35680

[2021-10-15 16:11] bgardner opened #117 "footer-blog.php text domain"
**Describe the bug**
[Line 46 here](https://github.com/WordPress/twentytwentytwo/blob/trunk/inc/patterns/footer-blog.php) has the following, which has a 'twentytwentyone' text domain. Should be 'twentytwentytwo'.

[code]

[2021-10-15 16:48] joedolson commented on #82
Will the theme also target meeting the existing guidelines for accessibility-ready themes? https://make.wordpress.org/themes/handbook/review/accessibility/required/

[2021-10-15 16:51] #117 closed, assigned to nobody

[2021-10-15 17:00] kjellr commented on #82
@joedolson Yes. Though at a glance, I think a major chunk of that those requirements will be Gutenberg's responsibility this time around.

[2021-10-15 19:07] karmatosed opened #119 "Consider caption design for gallery"
I noticed that the gallery doesn't have a caption design but used the default one for the block. Perhaps it could be nice to have something that reflects the theme design and shows how to style captions?

![2021-10-15 at 20 05](https://user-images.githubusercontent.com/253067/137539850-36a65ac9-f6db-405c-a098-8fd639ef6753.png)

[2021-10-15 19:09] karmatosed opened #120 "Block gap tight on headers and other visual elements"
I am not sure if this needs a specific style for the header block in theme.json or the block gap itself increased - that would be a design decision (cc @kjellr). However, I noticed that the spacing is a little close when you have for example a cover block and gallery with header in-between:

![2021-10-15 at 20 07](https://user-images.githubusercontent.com/253067/137540119-1f245745-f326-4b8a-80ca-d

[2021-10-15 19:14] karmatosed opened #121 "Space between group block and cover when using dark background"
This might be the nature of these blocks and is fixed by using a background. However, I wanted to report this as it feels unexpected to see. It can be closed out if decided it's just something have to accept due to the nature of the site editor.

If you have a group block and also a cover block, yet both are dark - you get this strange gap in-between due to block gap I presume.

![2021-10-15 at 20

[2021-10-16 07:58] carolinan opened #122 "Add header and footer template parts to theme.json"
When you select a template part in the site editor, and then choose "Replace", you have the option to place the header parts in the footer and vice versa.
Is this intentional?

If it is not intentional, assign the template part to the respective template area in theme.json.

Example:
[code]

[2021-10-16 08:11] carolinan opened #123 "Template part vs block pattern, establishing best practices"
_This is not indented as criticism._

I think it would be a good idea to have a discussion about best practices when it comes to deciding if something should
be a template part or a block pattern (like how the community has discussed the naming of colors and font sizes).

Currently many parts in the theme are patterns.
But it is actually more difficult -and a much larger number of clicks- for a us

[2021-10-16 18:42] tinjure20 commented on #123
An ordinary user's (aspiring developer) perspective here. I couldn't agree more with @carolinan. I have been making my hands-dirty with Block themes for a while - customizing [Quadrat](https://wordpress.org/themes/quadrat/) theme for my personal [rambling site](https://justwrite.atsixtyseven.com/) project.

The other day, I was trying to set up my own twenty twenty-two test site similar to [this d

[2021-10-16 23:16] ellenbauer commented on #123
That is an important point Caroline makes and I wonder how we should approach this in block themes in general. I also feel there is a confusion between patterns and Template Parts right now.

[2021-10-18 06:52] carolinan commented on #30
In my opinion, it is not for the theme to solve. I would leave them as is, because multi-lingual is not until phase 4.

[2021-10-18 07:01] carolinan opened #126 "Index: Sticky posts are showing when you view page 2 etc"
**Describe the bug**
The query loop in index.html is not set to` Inherit query from template`, so the sticky posts are shown on all pages when navigating through the paged results.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the homepage to display latest posts.
2. Make sure your test install have sticky posts, and enough content to use the query pagination to open page two etc.
3. G

[2021-10-18 07:20] carolinan commented on #121
Both the header dark pattern and template part has an 8rem bottom margin.

[code]

[2021-10-18 07:21] Soean commented on #30
Multilingual will solve the problem to translate and save the content of websites in different languages. Themes and Templates should be ready for localization and translation.

[2021-10-18 07:23] carolinan commented on #126
And because search and archive templates are not included, these are also broken and displaying incorrect results from index.html

[2021-10-18 08:24] carolinan commented on #30
And they are, because you can add your own text.

[2021-10-18 08:59] Soean commented on #30
So we can't translate it globally per language, and each user has to translate it themselves and override the template, if I understand it correctly.

[2021-10-18 11:56] kjellr commented on #121
That's right — the user can remove that from the header themselves. We need that padding to exist somewhere for the cases when the user isn't trying to accomplish this specific scenario. I think it's generally reasonable for it to exist where it is today.

I'm going to close for now, but we can re-open if folks have a better solution.

[2021-10-18 11:56] #121 closed, assigned to nobody

[2021-10-18 11:57] kjellr commented on #126
This sounds like a Gutenberg bug, right? I don't think the theme is doing anything specific to the query that would cause this.

[2021-10-18 12:52] carolinan commented on #126
The default is to not inherit the query from template, it needs to be enabled.

[2021-10-18 12:55] kjellr commented on #123
My expectation has been that someday if you were to hit "replace" for a template part, Gutenberg would load both patterns _and_ template parts to choose from. At some point, there was some drive in Gutenberg to expand the "contextual pattern transforms" that were added to a few blocks (see the notes in https://github.com/WordPress/gutenberg/issues/30925#issuecomment-821524947). This seems to have

[2021-10-18 13:03] overclokk commented on #123
What I seeing developing an experimental child theme is that template files should be as few as possible and use patterns to add more variations of the theme design, this is primarly because I see the templates as static files (and they are, yes) default for basic design and pattarn more dynamic elements whre you can also generate variation by PHP loop.

[2021-10-18 13:05] carolinan commented on #126
I assume the archive will be added later and it wont be using index?

[2021-10-18 13:21] carolinan commented on #123
The pattern would need to be _placed inside_ the template part, not _replace_ it. That is difficult to do manually since you have to know which blocks to select and remove, and you have to know the concept of "parent block" "container block".
Otherwise we would still have the problem that if you change the content, it is only changed in one place, compared to if you change the content of the templ

[2021-10-18 13:31] carolinan commented on #123
@jameskoster Do you know if updating this flow is planned for 5.9?
I see that related issues were removed from 5.8 milestone, but then most of them has had no action since.
Is there an overview issue for this flow?

[2021-10-18 13:37] kjellr commented on #123
To illustrate some of the confusion here: If I wanted to add a "header" to this page, which of these blocks do I choose?

<img width="675" alt="Screen Shot 2021-10-18 at 9 33 00 AM" src="https://user-images.githubusercontent.com/1202812/137741649-8658fb7f-1a89-43b7-b443-467d8ad7c21d.png">

Today's answer:

- The first one is the right choice only if I want to choose from patterns, or start blank w

[2021-10-18 13:42] jffng commented on #122
Not intentional, we should do this:

[2021-10-18 13:45] carolinan commented on #123
Neither, because there is already a header in place when you open the editors... 😁

[2021-10-18 13:45] kjellr commented on #119
Hey @karmatosed — given the theme's drive to use little to no custom CSS, I don't plan for us to include any non-standard caption styles. I'd love to see Gutenberg support more by default, but in the meantime I'm going to close for now.

[2021-10-18 13:45] #119 closed, assigned to nobody

[2021-10-18 13:46] overclokk commented on #123
@carolinan but if the header (or other parts) does not exist?

[2021-10-18 13:49] carolinan commented on #123
When you are in the block editor and select _new template_, that default includes a header.
If your theme goes as far as changing the default, well then I'd say you as theme author will need to leave instructions.

[2021-10-18 14:07] jameskoster commented on #123
Which flow? "Replacing" a template part quickly with a pattern? I don't think it's planned for 5.9 but I agree it needs attention. While working on this we also need to consider literal template part swapping (IE swapping "Header A" for "Header B"). They're conceptually similar, but technically quite different.

Imo these base-level "Template part" blocks should probably not be exposed in the Inse

[2021-10-18 14:09] carolinan commented on #123
Both -Because as it is now a block theme is almost unusable. Can it really wait til later?

[2021-10-18 14:11] carolinan commented on #123
_literal template part swapping (IE swapping "Header A" for "Header B")_
This sort of works except as above, you also have to make a change to the _template_ for the change to save.

[2021-10-18 14:56] carolinan commented on #123
I did a quick test and when the template parts are assigned to the header and footer area in theme.json as in https://github.com/WordPress/twentytwentytwo/issues/122 Then the template parts show up under "choose existing" when I type /header but there is no preview of the template part when I add a header from the inserter.

[2021-10-18 15:01] jameskoster commented on #123
be a template part or a block pattern

Focussing on this topic, I think template mechanics can be used to help themers decide what to use. That is to say: if you're bundling a template that demands a certain header style/composition – that must be a discrete template part. But if you just want to offer alternative header options for use in any template, they should be patterns.

For the latter use

[2021-10-18 15:23] carolinan commented on #123
But how do users get from
_This theme has a header, I like this pattern better so I will delete the current blocks and insert the pattern from the inserter_
to
_This theme has a header, I like this pattern better, I have added it and made changes to the color and navigation block, and the header on all my existing content was updated. The next content I create will use this new header automaticall

[2021-10-18 15:49] LittleBigThing commented on #41
There are some nice, subtle gradients suggested in the [Figma prototype](https://www.figma.com/file/76mfUcaK4QDlrXElk8MK3H/Twenty-Twenty-Two?node-id=2166%3A3521) as well.

[2021-10-18 15:51] jffng opened #129 "Core tickets related to the theme"
**Tracking the core tickets that are needed for or impact the theme**

**Must have:**

- [x] Add the theme to core https://core.trac.wordpress.org/ticket/54318#ticket
- [x] Remove Gutenberg requirement for FSE themes https://core.trac.wordpress.org/ticket/54366

**Nice to have:**

- [x] Allow block themes to be activated without `index.php` https://core.trac.wordpress.org/ticket/54272 (won't be ad

[2021-10-18 15:52] kjellr commented on #102
I opened #128 to address the border width. I'd also like to adjust the font-family as described in https://github.com/WordPress/gutenberg/issues/35735, but that's not possible yet. So let's keep this open for now.

[2021-10-18 16:02] #41 closed, assigned to nobody

[2021-10-18 17:17] jameskoster commented on #123
So you are asking how a user would transform a pattern they inserted _outside_ of a template part, in to a template part? That seems like a bit of an edge case... isn't it more likely that the user would simply edit the existing header?

In any case, block(s) can be made in to a template part via the ellipsis menu in the toolbar:

<img width="392" alt="Screenshot 2021-10-18 at 18 15 49" src="https

[2021-10-18 17:55] kjellr commented on #126
Yes, we need an archive page template that includes the Archive Title at the top.

Sounds like we also need to ensure the `index.html` template is inheriting from the query template.

And is there also a Gutenberg bug referenced here too?

[2021-10-18 18:25] #103 closed, assigned to nobody

[2021-10-18 19:05] jffng commented on #126
We will need https://github.com/WordPress/gutenberg/pull/33515 to do this.

[2021-10-18 19:07] jffng commented on #126
I think we will need https://github.com/WordPress/gutenberg/pull/33515 to do this.

[2021-10-18 19:27] jffng commented on #126
I believe this is related https://github.com/WordPress/gutenberg/issues/35322.

When I add `"inherit":true` to the index query, sticky posts do not display first, even though the query is set to include them. I am not sure if this is the correct behavior.

[2021-10-18 19:44] kjellr commented on #126
Oh weird — that does sound wrong.

[2021-10-19 03:13] carolinan commented on #123
My concern is that it is not an edge case because selecting the correct block, (header) deleting the correct inner blocks, and replacing them inside that block, is not so easy.
How will they know they should not delete the entire header?

If you need to turn something in to a template part, isn't it easier if it already is a template part from the beginning.

[2021-10-19 03:15] carolinan commented on #123
I've not explored this, what about locking the header and footer? Would that keep the template part in place but allow editing the content?

[2021-10-19 10:01] carolinan commented on #126
Closing this in favor of the upstream issue.
I still think the query on the index should have the inherit enabled, but that does not solve the new issues we found.

The problem with sticky posts showing on top every page can actually be reproduced in a classic theme without Gutenberg installed, meaning it is not a new issue.

[2021-10-19 10:01] #126 closed, assigned to nobody

[2021-10-19 11:17] jameskoster commented on #123
Possibly :) There's nothing to stop a theme providing many header template parts, _and_ many header patterns if it wants to. This is a complex problem with many blurred lines. It may not even be possible to determine a single best practise.

Ultimately we need to make _both_ flows intuitive in the template editor:

1. Swap existing Header A for existing Header B
2. Quickly browse and try different

[2021-10-19 13:17] jffng opened #133 "Update Gutenberg to use 2022"
**Description**
It would be helpful to get more folks working on Gutenberg to start testing with 2022. Some ideas that could help with that:

- [x] Tag releases (similar to [this](https://github.com/WordPress/theme-experiments/issues/195)) prior to the theme's inclusion in core, so Gutenberg can pin its testing dependency on a specific version of the theme.
- [ ] Replace `tt1-blocks` with `twentyt

[2021-10-20 07:13] carolinan commented on #92
Upstream issue: https://github.com/WordPress/gutenberg/issues/31815

[2021-10-20 07:25] MaggieCabrera commented on #92
Well, if the pattern block actually ends up making it, that would solve it, right? A pattern block ends up being the solution to so many things!

[2021-10-20 11:12] mtoensing opened #138 "Images show wrong aspect ratio in the frontend"
**Describe the bug**
Fresh WordPress installation shows uploaded images with a stretched aspect ratio. Happens to all uploaded images. Switching to twenty-twenty-one or twenty-twenty renders them just fine. Happens to already uploaded images and new ones.

**To Reproduce**
Steps to reproduce the behavior:

1. Upload an image.
2. Look at post in frontend

**Expected behavior**
All images should kee

[2021-10-20 13:03] kjellr commented on #92
Yeah, the pattern block would solve it, but it seems like a weird workaround to me. 🤔

[2021-10-20 13:33] jffng commented on #138
Hi @mtoensing thanks for the report. What version of Gutenberg are you using?

I believe this was resolved upstream in https://github.com/WordPress/gutenberg/pull/30092, as I don't see a `height: auto;`. This fix will be shipped with version 11.8 of the plugin I believe, so unless you're running Gutenberg trunk I believe we can close the issue.

[2021-10-20 13:39] mtoensing commented on #138
Thanks!

[2021-10-20 13:39] #138 closed, assigned to nobody

[2021-10-20 15:17] melchoyce commented on #17
Just wondering, should the wavy line be a block style for the separator block?

![image](https://user-images.githubusercontent.com/2846578/138121604-4015e786-eb62-48cb-8e64-6a823405eef7.png)

[2021-10-20 15:39] melchoyce commented on #17
Video trailer:

[code]

[2021-10-20 15:48] kjellr commented on #17
I considered it, but we can’t do that without CSS. 😄 I pictured it as a cover block with a small min height maybe?

[2021-10-20 15:49] melchoyce commented on #17
Subscribe:

[code]

[2021-10-20 16:05] melchoyce commented on #17
Image with caption:

[code]

[2021-10-20 16:20] melchoyce commented on #17
Latest posts:

[code]

Some issues with this one:
- Is there any way to link to an archive page? I'm worried that most people won't know they need to update that "view more" link manually.
- If I add space between each post, it pushes them out of alignment with the text above. I can also add left/right padding to the columns above the posts, but I don't know if we have a better approach I haven't

[2021-10-20 16:21] mtoensing commented on #138
Had to install this: https://github.com/bph/gutenberg/releases/tag/11.9.-nightly

[2021-10-20 16:37] melchoyce commented on #17
Wide image with introduction and buttons:

[code]

[2021-10-20 16:46] melchoyce commented on #17
Two images and text:

[code]

[2021-10-20 16:59] melchoyce commented on #17
Cover image with contained image:

[code]

This one is a little bit misaligned because of the figcaption on the image.

[2021-10-20 17:08] melchoyce commented on #17
Membership level columns

[code]

[2021-10-20 17:11] melchoyce commented on #17
Image Divider (Dark)
[code]

Image Divider (Light)
[code]

Wasn't sure if these should be full or wide, so I went with full. I don't think they ended up needing a max-height, they look good by default IMO!

[2021-10-20 17:30] melchoyce commented on #17
Some overall notes on these:

The spacing might be inconsistent; I used a mix of px and rems that should probably get standardized into one unit. I was also trying to eyeball based on the mockups, since the exact pixel values didn't always work because of additional padding or margin on blocks.

Column spacing might also need to be adjusted.

Here's a front-end preview:

![image](https://user-imag

[2021-10-20 17:45] kjellr commented on #17
Thanks, @melchoyce!

 Ok, I think these are good enough to move to PR. We can standardize spacing and font sizes as needed there.

---

Two small updates:

For the latest posts one, I think we can use this markup instead (it's based on an existing query pattern):

[code]

And I think a standard 50% width works fine for the Subscribe pattern:

[code]

[2021-10-20 18:05] colorful-tones commented on #133
These seems like a great idea, and I feel like it would help with testing. I love the idea of releases, as it also affords the ability for user to download a .zip. In case their not as technically inclined or interested in spinning up a unique site/codebase, etc.

[2021-10-20 19:38] kjellr opened #140 "Add duotone presets"
We should add duotone presets that use the theme colors.

- Foreground on Background
- Foreground on Secondary
- Foreground on Tertiary
- Primary on Background
- Primary on Secondary
- Primary on Tertiary

[2021-10-21 06:28] carolinan commented on #116
It was actually not so easy to get starter content to work even with the current "live preview" button before the theme is activated.

-I ended up using `page-slug.html` templates instead of the "home/frontpage/blog/"  because there is no conditional like in PHP where we can show single page content if it's set to show a page, and query when it is set to show posts.

Using a query and setting it t

[2021-10-21 10:49] mburridge commented on #116
Is it normal to have starter content? I don't recall ever installing a theme that added content to a site. Do you intend that the starter content will be "hard coded" into the .html files to be over-ridden by templates created in the editor? Personally I don't think I'd want that 'extra job', I want a theme to be blank so that I can just start adding content.

[2021-10-21 11:52] aristath commented on #30
Correct. If they want it on a different language, they can simply edit the templates. It's not like in classic themes where these were not user-editable... So IMO it's not really a blocker 👍

[2021-10-21 12:47] mburridge commented on #120
I think @karmatosed means the heading block rather than the header block, but in addition to the issue she reports the heading block spacing can be inconsistent, this example is after a gallery block. _(screenshots from Chrome, but looks identical in Safari and Firefox)_
![image](https://user-images.githubusercontent.com/20643925/138280042-879f2714-1adf-49e4-96dd-06a51ca0444b.png)

![image](https:

[2021-10-21 13:40] carolinan commented on #116
Starter content is:

- Visible in the preview in the theme directory of WordPress.org, without it, you can only show the blog, not a custom homepage.
- Only available for users on fresh, empty WordPress installations.
- Optional, you can preview it and then choose to publish it.

[2021-10-21 14:19] mburridge commented on #116
Thanks for that @carolinan. I've never used starter content before when I've built sites, but I've been[ digging in](https://make.wordpress.org/core/2016/11/30/starter-content-for-themes-in-4-7/) and learning more.

It seems to require the customiser. How is this going to work for an FSE theme?

And from a development point of view, would starter content still be hooked to `add_theme_support( 'sta

[2021-10-21 14:27] carolinan commented on #116
It does, but it is only the menu item that is removed. The starter content can still be previewed and activated via the themes screen, using the Live Preview button.

..That's what we need to figure out in https://github.com/WordPress/gutenberg/issues/35680

[2021-10-21 14:41] mburridge commented on #116
Thanks @carolinan, so we're waiting on resolution of that issue before this one can be addressed? There's nothing to do here at the moment?

[2021-10-21 18:15] kjellr commented on #30
While the user _could_ go and edit those strings, they won't know that they need to. In that past, those have always been translated automatically. And for example, one of these strings is on the 404 page — it's quite likely a user won't know they need to look there and manually translate that string.

[2021-10-21 18:18] jffng opened #142 "404 page search box overlaps the text"
**Describe the bug**

The 404 page search box overlaps the text.

**Screenshots**

<img width="575" alt="Screen Shot 2021-10-21 at 2 17 25 PM" src="https://user-images.githubusercontent.com/5375500/138334415-cef74cab-a6a1-44b7-9eed-d7c3874c2c31.png">

**Additional context**
I believe this is caused by the line-height being set on the h2.

[2021-10-21 18:47] jffng opened #144 "Post content does not have padding in the editor"
**Describe the bug**

Currently because of where our padding is applied, post content does not appear with padding in the editor.

**To Reproduce**

1. Go to the post editor
2. Add some content
3. Preview on mobile

**Expected behavior**
I expect the padding to mirror what's displayed on the front-end.

**Screenshots**
Editor | Front-end
-------- | -------
<img width="1258" alt="Screen Shot 2021-1

[2021-10-21 20:58] #142 closed, assigned to nobody

[2021-10-21 21:03] #17 closed, assigned to kjellr

[2021-10-21 21:04] jffng opened #147 "Add stylelint action"
Stylelint was removed in #145 because an update broke the action. We should add it back when we end up adding some CSS to the theme.

[2021-10-21 21:28] Denis74F opened #148 "Issue with Tag color change"
I have one post with tags and another post without tags. If I change the color of the tags, in the post without tags it appears (class = "wp-elements-6171da143461b″).

Steps to reproduce the behavior:

1. Create 2 posts
2. In one of the two posts, add a tag
3. Go to the homepage
4. You will now see the 2 posts one with the tags and one without
5. Edit Site
6. Change color of tags and save
7. Now o

[2021-10-22 03:52] carolinan commented on #30
But it is not for the theme to solve, because it is not specific to this theme.
It is a much bigger issue within Gutenberg and also with how the WordPress project will introduce block themes. It may be solved with documentation until there is a complete solution.

It is not something that can be solved before the feature freeze unless there is a decision from the 5.9 leads that it will be prioriti

[2021-10-22 04:02] carolinan commented on #148
Hi! This is hopefully solved by https://github.com/WordPress/gutenberg/pull/35836
It is not specific to this theme, but to everywhere where the block is used.

[2021-10-22 09:59] Denis74F commented on #148
Hi @carolinan ,
thanks for the info.

[2021-10-22 11:03] carolinan commented on #148
the above PR is merged so this can be closed.

[2021-10-22 11:43] Sandstromer opened #150 "Consider overall size of theme directory"
I noticed the latest trunk, the folder size of the theme is now 13MB unzipped, and even zipped this only reduces to 12.7MB.

Some of the assets bundled with the recently added patterns are massive, e.g. the `birds.mp4` is 3.4MB and `ducks.jpg` is 4.72MB

Is there anything that can be done to reduce some of these further?

#132
#139

[2021-10-22 14:11] #148 closed, assigned to nobody

[2021-10-22 14:17] kjellr commented on #33
Should be all set now that https://github.com/WordPress/gutenberg/pull/35704 has been merged. 👍

[2021-10-22 14:17] #33 closed, assigned to nobody

[2021-10-22 14:48] #122 closed, assigned to nobody

[2021-10-22 17:37] kjellr commented on #150
This is something we can definitely improve. Regardless of whether we end up using WebP, it sounds like that `ducks.jpg` image is not properly compressed at the moment.

I'm not sure about feasibility for the initial release, but as proposed in https://github.com/WordPress/twentytwentytwo/issues/12 and https://github.com/WordPress/gutenberg/issues/35364 I do hope that eventually none of those imag

[2021-10-22 17:59] kjellr opened #151 "Determine strategy for templates that use sidebars"
A couple of the theme mockups feature a simple sidebar on the left or right:

Left Sidebar|Right Sidebar
---|---
<img width="1200" alt="Blog" src="https://user-images.githubusercontent.com/1202812/138500019-d25ad7a7-2633-4e06-8661-02cbb54af72e.png">|<img width="1200" alt="Blog-1" src="https://user-images.githubusercontent.com/1202812/138500017-280597a9-fd03-4878-8558-a0e2888ddff1.png">

I think it

[2021-10-22 18:57] alberto-marin opened #152 "Post Categories and Post Tags blocks not working"
**Describe the bug**
When adding Post Categories or Post Tags blocks to a page it won't load any content, regardless the Post Categories or Post Tags have posts assigned to a post or not.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Pages -> Sample Page -> Edit Page '
2. Click on 'Block Inserter -> Add Post Categories or Post Tags block'
3. A spinner will appear all the time
4. No

[2021-10-22 20:39] karmatosed commented on #119
@kjellr that makes sense - I shall go and bother that repo! :)

[2021-10-23 00:25] ellenbauer opened #153 "Font size slug naming best practice"
**Is your feature request related to a problem? Please describe.**

I know this has been discussed before but I wanted to bring it up as a discussion here, since I still wonder if the currently used approach for font size slugs is really the best practice that will/should be established.

I would just love to hear your feedback and thoughts that went into the decision for naming being small, norma

[2021-10-23 06:28] Riyadh1734 commented on #153
Thanks for your kind suggestions. Yes, the same font size slugs help a lot to be easier to the solutions.

[2021-10-23 07:38] elbsegler63 opened #155 "Featured image cannot be inserted"
If I want to write a new post and I use the "single post" template, I cannot insert a featured image, even though the template provides for a featured image. This entry is missing in the right sidebar, right?

![kein-menue-fuer-beitragsbild](https://user-images.githubusercontent.com/85250773/138547250-148b1435-2472-4469-9bed-53fe7d9b01ff.PNG)
![listen-darstellung-single-post](https://user-images.g

[2021-10-23 17:44] overclokk commented on #153
There is also a discussion on gutenberg repo about this https://github.com/WordPress/gutenberg/issues/29568
I think this should be discussed befor 5.9

[2021-10-23 17:56] overclokk commented on #151
Personally what I think is less it's better, because there are more combination with content and sidebar, here a few;

[code]

I'm experimenting a theme with only `singular.html` for page and post with only the `content` and adding a pattern with `content-sidebar`, so you can add the template you need only if you need it, switching sidebar left to right is a matter of a click on the arrow button.

[2021-10-24 15:25] LittleBigThing commented on #155
I think that theme support is coming out-of-the-box, the [pull request](https://github.com/WordPress/gutenberg/pull/35593) has just been merged in the editor.

[2021-10-24 17:03] elbsegler63 commented on #155
Thank you for the information. Then I'll wait until the time comes.

[2021-10-24 17:03] #155 closed, assigned to nobody

[2021-10-25 05:30] carolinan commented on #153
The font sizes from WordPress core are always output even if the themes do not use them.
So if you switch to s, m, xxxxl and so on, you will still have:
small, medium, normal, large.
Even if the WordPress default font size names/slugs are changed in 5.9, there will still be backwards compatibility issues (for those that want or need their themes to be backwards compatible).

That is why, unless th

[2021-10-25 10:37] carolinan commented on #11
Is the correct style for the search block the one in [the Figma template for the 404 page?](https://www.figma.com/file/76mfUcaK4QDlrXElk8MK3H/Twenty-Twenty-Two?node-id=815%3A4945)

It's been a year since I used Figma :)  -is the input field and button supposed to be 70px tall?

[2021-10-25 11:00] carolinan commented on #151
Yes using template parts for it works.
A pattern also works well when users do not want to use the same sidebar content.

[2021-10-25 12:36] kjellr commented on #11
I think we should actually just work backwards from the button:

- The search button by default should use the same text size and padding as the normal button block.
- Then the search field should be as tall as that button, so they line up.

[2021-10-25 12:48] carolinan commented on #152
Hi!
The upstream issue for this is https://github.com/WordPress/gutenberg/issues/34212

[2021-10-25 12:51] kjellr commented on #153
Thanks for the issue, @ellenbauer!

I agree that we're in need of a more scalable system here. But as @carolinan noted, we're following Gutenberg's lead for the font size names + slugs at the moment. If there's movement on that end, we can reconsider for the theme, but in the meantime I think it makes sense to close this issue. We can re-open if needed later on!

(Related: https://github.com/WordP

[2021-10-25 12:52] kjellr commented on #152
Thank you both! Since this is not specifically a theme issue, I'm going to close for now.

[2021-10-25 12:52] #152 closed, assigned to nobody

[2021-10-25 13:02] #153 closed, assigned to nobody

[2021-10-25 14:01] carolinan commented on #11
I believe this will need custom CSS because it can't be changed with theme.json:
https://github.com/WordPress/gutenberg/issues/34216

[2021-10-25 16:07] LittleBigThing commented on #150
I compressed the rest of the images.
I have not changed the existing file formats, but

- swallow.jpg would be somewhat smaller if it would be a jpeg.
- we could use (some) WebP images as suggested in #132

but #159 means already a significant reduction in image sizes.

[2021-10-25 19:40] kjellr opened #161 "Opt the theme into font smoothing for better font rendering"
This may require a bit of CSS, unless https://github.com/WordPress/gutenberg/issues/35934 ends up happening.

[code]

[2021-10-25 19:46] kjellr commented on #161
Here's a before/after comparison:

_Without font smoothing_

<img width="1056" alt="Screen Shot 2021-10-25 at 3 45 36 PM" src="https://user-images.githubusercontent.com/1202812/138760318-d481edcd-7660-4b57-b75b-7e379c91a942.png">

_With font smoothing_

<img width="1082" alt="Screen Shot 2021-10-25 at 3 45 53 PM" src="https://user-images.githubusercontent.com/1202812/138760330-77356898-649a-420b-a

[2021-10-26 13:03] kjellr commented on #44
Since this would effect any block theme, I've opened an upstream PR here: https://github.com/WordPress/gutenberg/pull/35958

[2021-10-26 16:00] jffng commented on #99
I started working on this a bit in the theme, and it helped to outline the considerations.

**Use cases to consider**
- User adjusts padding at the global level
- User adjusts padding at the block level
- User adjusts colors
- User selects the outline button style

**Challenges**
- The design uses a border in its hover state. We want to maintain consistent visual spacing between hover and resting

[2021-10-26 18:49] kjellr commented on #44
Fixed upstream: https://github.com/WordPress/gutenberg/pull/35958

Thanks for raising the issue!

[2021-10-26 18:49] #44 closed, assigned to nobody

[2021-10-26 19:16] kjellr commented on #150
Just wanted to provide some updated numbers after the recent compression PRs. The theme is now 5.3mb unzipped, and 5.2mb zipped.

[2021-10-26 19:20] TeBenachi commented on #82
I checked briefly and everything looks great, except the focus hover styles on the buttons.
Waiting on [this ticket](https://github.com/WordPress/gutenberg/issues/4543) 🤞

The following theme requirements also look good on the default template and the block patterns.

**Headings:**
- No H1 element present on the page.
- Multiple H1 headings on a single page.
- Headings do not skip levels when desc

[2021-10-26 20:13] LittleBigThing opened #166 "WP version compatibility check"
Do we need a WordPress version check to assure compatibility with WP? Previous default themes, like Twenty Twenty-One, had a [`back-compat.php` file](https://github.com/WordPress/twentytwentyone/blob/trunk/inc/back-compat.php).

I assume that some features will be included in WP from 5.9 specifically for this theme, so we’ll need ‘at least 5.9’.

Would this (and the theme being a block-based theme

[2021-10-27 14:40] jffng commented on #12
It appears that this will not be in 5.9, so should we close this one since we will have to bundle them with the theme?

In any case, we can upload them to the patterns directory, even if we can't remove them from the theme.

[2021-10-27 14:58] jffng commented on #166
I am not sure cc @aristath @carolinan, but it reminded me that currently there are some checks in Core for Gutenberg to be installed in order to use a block theme. I asked about removing those since 2022 is a block theme: https://core.trac.wordpress.org/ticket/54318#comment:3

Yes, we should update the Requires at least line in `style.css`, but probably when we commit the theme to core since 5.9 i

[2021-10-27 15:02] kjellr commented on #12
Yep, I think it's fine to close for now. 👍

[2021-10-27 15:02] #12 closed, assigned to nobody

[2021-10-27 15:04] jffng commented on #78
Thanks for the issue @reinhart1010 , going to close this one since it should be handled in Gutenberg if there's support for it.

[2021-10-27 15:04] #78 closed, assigned to nobody

[2021-10-28 13:15] kjellr opened #170 "Reconsider use of Site Tagline for the large header on the homepage"
Currently, the large header area on the homepage uses the Site Tagline block:

<img width="1231" alt="Screen Shot 2021-10-28 at 9 03 55 AM" src="https://user-images.githubusercontent.com/1202812/139261026-a856660f-813b-4249-ad78-63d2f239473e.png">

I've been going back and forth about whether this is a good idea, so I thought I'd write down my concerns. the alternative is just to have it be a head

[2021-10-28 13:33] kjellr opened #171 "Add theme description"
The theme needs a theme description in its `readme.txt`, and under the Description field in `style.css`. Currently it just uses a temporary "The WordPress default theme for 2022" message.

For example, here are the theme descriptions for the previous two default themes:

**Twenty Twenty-One**

**Twenty Twenty**

flexibility of the block editor. Organizations and businesses have the
ability to crea

[2021-10-28 13:42] jffng commented on #170
Hmm, I think it makes more sense for this to be a heading, as the text here seems to be specific to the homepage, whereas the tagline would be more general (something that you could display on every page, rather than a "greeting").

[2021-10-28 13:51] jffng commented on #170
Not directly related, but the font family declaration is not working for the site tagline. Below is a screenshot, I added a heading block above it to show that font family is being loaded, just not applied correctly to the site tagline:

<img width="854" alt="Screen Shot 2021-10-28 at 9 48 07 AM" src="https://user-images.githubusercontent.com/5375500/139269508-f29dada8-6809-4136-b94e-f16c6fb95e83.

[2021-10-28 13:52] kjellr commented on #170
Might as well just tackle it here.

[2021-10-28 14:33] kjellr opened #172 "Consider new block patterns"
We added the originally designed block patterns already, but I'd like to leave open the door for some more. This issue will serve a place to track that work.

I'd specifically like to add more of the poster-like "Page" patterns, since we only have a few of those:

![136080878-6bbad782-dbd1-4f11-bc59-6ac361e49fd2](https://user-images.githubusercontent.com/1202812/139277615-fd4bbe3e-92f1-4271-ad6d-8

[2021-10-28 15:08] beafialho commented on #172
Here are a few suggestions. I tried a couple different background colors and took the liberty of adding some names/content.

![Page Layout-1](https://user-images.githubusercontent.com/65220155/139283808-fcb4a45f-2485-4734-8387-44dc22bc9774.jpg)

![Page Layout-2](https://user-images.githubusercontent.com/65220155/139283824-498dd3ba-6f8a-44e4-ae5d-9ce70d4e8474.jpg)

![Page Layout-3](https://user-ima

[2021-10-28 16:02] kjellr commented on #172
Cool, thanks @beafialho! I'll try building a few of these out to see how they work. 👍

[2021-10-28 19:14] #170 closed, assigned to kjellr

[2021-10-28 20:29] tomjn commented on #75
is there an issue for i18n? I can't find anything for text localisation other than the patterns PR which is a short term workaround

[2021-10-28 20:32] tomjn opened #174 "Discussion: i18n text in FSE themes"
Currently for twentytwentytwo a workaround is being considered involving the `core/pattern` block in https://github.com/WordPress/gutenberg/pull/33217 combined with use of `__()` when registering the pattern. While this achieves the goal it's a short term workaround.

For the longterm solution, I've created this issue to discuss.

[2021-10-28 20:32] #174 closed, assigned to nobody

[2021-10-28 20:32] tomjn commented on #174
argh I thought I was in the gutenberg repo, too many tabs

[2021-10-28 20:40] tomjn commented on #174
created https://github.com/WordPress/gutenberg/issues/36061

[2021-10-28 20:41] tomjn commented on #75
I've created https://github.com/WordPress/gutenberg/issues/36061 to discuss text i18n as well as a general block i18n proposal

[2021-10-29 05:59] carolinan opened #177 "Improve the default template provided to the post/page template editor"
**Is your feature request related to a problem? Please describe.**
When you create a new template (for example from the block editor Template Section),
the Gutenberg default template is used which uses 3 groups, a site title, tagline, separator, post title and content.

**Describe the solution you'd like**
A nicer looking default template could be added.

[2021-10-29 07:55] mtoensing opened #178 "Position blocks below the post and above the comment"
**Is your feature request related to a problem? Please describe.**
Blocks like related articles and recent posts are usually appended as blocks to the content.

**Describe the solution you'd like**
A better position would be below post meta (tags, author) and above the comment section.

![Screen Shot 2021-10-29 at 09 52 45](https://user-images.githubusercontent.com/136737/139397284-63d457a9-56ee-4

[2021-10-29 12:08] kjellr opened #179 "Replace "Post Comments" block with the Comments Query Loop block in templates"
Post Comments will remain [marked as "experimental" for 5.9](https://github.com/WordPress/gutenberg/pull/35979#issuecomment-954364262). We should replace with the new "Comments Query Loop" block from https://github.com/WordPress/gutenberg/pull/35231.

[2021-10-29 12:30] kjellr commented on #178
Hey @mtoensing — I'm not sure the theme can specifically decide where 3rd party plugins place content like that. If those plugins supply these features as blocks, you should be able to position them wherever you'd like in the template editor.

Can you share a more specific example of what you're seeing?

[2021-10-29 12:38] mtoensing commented on #178
@kjellr

Sorry, I misunderstood the single post template in FSE. When I selected a post and started FSE by choosing "edit site" I always ended up on the index template. Now I see that I can add a block between these blocks. Evrything is a block. Great. Solved.

[2021-10-29 12:38] #178 closed, assigned to nobody

[2021-10-29 14:23] bgardner commented on #161
As I mentioned [here](https://github.com/WordPress/gutenberg/issues/35934#issuecomment-954784889), I am a huge advocate of font-smoothing. Especially for TT2, since it’s absence is the first thing I notice every time I view the demo or test it locally.

[2021-10-29 14:33] kjellr commented on #177
This seems like something that should just happen automatically for block themes. If you choose "New", then Gutenberg should provide you with a copy of your current template to edit.

I did try just mapping this to one of our existing templates using [the function provided here](https://github.com/WordPress/gutenberg/pull/32771):

[code]

... but it didn't render any of the theme's template parts.

[2021-10-29 14:58] kjellr commented on #177
Opened two Gutenberg issues for that:

https://github.com/WordPress/gutenberg/issues/36086
https://github.com/WordPress/gutenberg/issues/36085

If someone can help me figure out whether the template part loading issue is something we can fix here or not, that would be great. I'm unclear if that should be an upstream issue.

[2021-10-29 15:44] jffng commented on #177
I think this should be filed upstream as a bug — the template parts are accessible when you enter template editing mode, so they should also be via the default template.

I tried various hooks / loading orders to see if it was an issue that could be solved by loading priority, and could not get the template parts to load in any combination.

[2021-10-29 15:50] bgardner opened #180 "Drop cap needs attention/styling"
**Describe the bug**
Per the screenshot below, the size/spacing of drop caps should be addressed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to editor, create paragraph.
2. Enable drop cap.
3. Save/publish and then look at back/front end.
4. See error.

**Expected behavior**
Better styling/spacing.

**Screenshots**
![image](https://user-images.githubusercontent.com/486261/139465114-a

[2021-10-29 16:09] kjellr commented on #180
I don't believe it's possible to finesse the drop cap styles through theme.json (maybe it should be?). But we can turn on/off the dropcap feature.

Unless we have the ability to fix this through theme.json, I personally lean more towards just turning it off for the time being.

[2021-10-29 16:14] bgardner commented on #180
Yeah, I realize there isn't a way through theme.json, and if the intent is to ship TT2 without any styles, your suggestion to turn it off would make the most sense. Mainly this was to acknowledge the way it looked and decide accordingly.

[2021-10-29 16:22] kjellr commented on #92
This should now be possible by using the Pattern block. I'm changing this issue's title + tags as a result.

[2021-10-29 16:24] bgardner opened #181 "Will menus be supported?"
**Description**

I realize that currently the theme menu is built to pull in the page list via header.html. Is there a plan to support more than that? I ask because I noticed there was not a Menu link under Appearance, and I can easily see folks wanting to control their menus. (Either by reordering/removing pages, including links to social media, etc.)

[2021-10-29 16:26] jffng commented on #30
Since the pattern block was merged, this is unblocked. We should replace those strings with patterns. For the 404, it may make sense to make the pattern include all of this:

<img width="561" alt="Screen Shot 2021-10-29 at 12 26 08 PM" src="https://user-images.githubusercontent.com/5375500/139470135-e495e55d-9de1-4732-a96e-65a9ea070bc2.png">

What do you think @kjellr?

[2021-10-29 16:29] bgardner commented on #181
Also worth nothing that Menus _are_ accessible via the Customizer still.

[2021-10-29 16:35] colorful-tones commented on #181
@bgardner I believe that the Navigation block is maturing (as we speak) in Gutenberg land to be the main point of editorial flow in Full Site Editor experience to manipulate and customize a menu's items. I know that the Navigation block is one of the main features slated for 5.9. 🤔

This seems to be the Tracking Issue for Navigation Block in 5.9: [A Lighter Navigation Block Experience #34041](http

[2021-10-29 17:17] kjellr commented on #30
Yeah, might as well. Let's put it at the very bottom of the "General" patterns list [until we can hide it](https://github.com/WordPress/gutenberg/issues/36084).

[2021-10-29 17:24] kjellr commented on #181
That page list is just the default, and it can be edited inline via the Navigation block. The theme is not planning to provide any theme-specific functionality for menus.

This Gutenberg feature is undergoing heavy iteration during the Gutenberg 11.9 cycle, so I suggest taking a look at these issues if you're interested in learning more:

https://github.com/WordPress/gutenberg/pull/35746
https://g

[2021-10-29 17:24] #181 closed, assigned to nobody

[2021-10-29 20:14] colorful-tones commented on #180
I would vote to remove `dropCap` support.

[2021-10-29 20:20] kjellr commented on #180
Sounds good, let's do it. I'll mark this as a Good First issue then. 👍

[2021-10-29 22:50] lwangdu opened #184 "Provide a header pattern that uses a background image"
**Is your feature request related to a problem? Please describe.**
Currently  the full site editor you can color background color header template but there is no way you can add image background on the header template from the dashboard.

**Describe the solution you'd like**
If user can add image background color or background image option that would be great.  Here is an example of screen shot th

[2021-10-30 03:43] bgardner opened #185 "Typo in Footer Pattern Name"
**Describe the bug**
There is a typo in the Footer Dark pattern file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to twentytwentytwo/inc/patterns/footer-dark.php
2. See error.

**Proposed Fix**

Change this:

[code]

To:

[code]

[2021-10-30 08:44] nielslange opened #188 "Use TGMPA to inform that the Gutenberg plugin is required"
**Is your feature request related to a problem? Please describe.**

Trying to activate the Twenty Twenty-Two theme while the Gutenberg plugin is not installed, leads to the following error message:

<img width="814" alt="Screen Shot 2021-10-30 at 15 40 34" src="https://user-images.githubusercontent.com/3323310/139526304-1c53bd07-4ef0-40c3-a6ae-270b4a6ac332.png">

**Describe the solution you'd like

[2021-10-30 09:12] colorful-tones commented on #188
This error message will not happen when this theme is part of its targeted WordPress 5.9 proper release.

Also, this theme's `README.md` clearly states under the Getting Started:

[2021-10-30 09:14] nielslange commented on #188
Thanks for pointing this out, @colorful-tones! 🙌

[2021-10-30 09:14] #188 closed, assigned to nobody

[2021-10-30 09:19] colorful-tones commented on #59
@pattonwebz are we still aiming for weekly updates on this?

[2021-10-31 01:09] carolinan commented on #184
With full site editing background images are added using the cover block. So you need to add the right block.

[2021-10-31 13:42] elbsegler63 opened #189 "Cannot replace a header in tempates"
**Describe the bug**
I want to replace a header with another header in a template. The change is not saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Appearance -> Templates -> Single Post (No Seperators) an edit.
2. Click on 'Replace' the header, choose another one
3. Save
4. Open them Template again, the old header is part of the template.

**Expected behavior**
The chosen head

[2021-10-31 16:48] elbsegler63 commented on #189
This issue certainly belongs to # 123 here. Should I close the issue?

I am not sure. Because I expected that I would get to my destination on the path I described and that I would be able to replace the header. Apparently you can save, but without success.

[2021-10-31 16:48] #189 closed, assigned to nobody

[2021-10-31 16:51] elbsegler63 commented on #123
https://github.com/WordPress/twentytwentytwo/issues/189#issue

[2021-10-31 19:04] lwangdu commented on #184
Thanks @carolinan I was able to add the cover block on the header template area but. There is no option to set full width cover block.
![Screen Shot 2021-10-31 at 12 01 25 PM](https://user-images.githubusercontent.com/24829573/139597751-6e3704c4-bb01-4c45-85d4-d26595531879.png)
as you can see my screen short

[2021-11-01 06:08] carolinan commented on #184
That is full width? I mean it looks like it stretches the whole content area. The grey border is always there, it is part of the editor.

[2021-11-01 06:09] carolinan commented on #184
If the width options are missing you may need to place it inside a container block like a group or template part.

[2021-11-01 06:11] carolinan commented on #75
Overlay menu can't be closed when "justify right" is used.
https://github.com/WordPress/gutenberg/issues/36102

[2021-11-01 07:41] jasmussen commented on #75
That overlay menu issue should be fixed by https://github.com/WordPress/gutenberg/pull/36105.

[2021-11-01 11:28] Sandstromer commented on #180
This is strange. I didn't remember seeing an issue with drop cap, so tried it again with the same text as the screenshot. This is what I see on Windows.

![2022-drop-cap](https://user-images.githubusercontent.com/76742815/139664464-9c9d6e7c-7db0-4313-ad94-f39124267f6f.png)

Could the issue be something to do with the Mac system font?

[2021-11-01 12:41] carolinan commented on #189
This has been solved in Gutenberg 🎉 and the fix will be in 11.9 / 5.9.

[2021-11-01 12:46] #185 closed, assigned to nobody

[2021-11-01 14:40] kjellr commented on #166
This is something that should happen automatically for all block themes, so I'm going to close for now. We can track in this upstream issue: https://core.trac.wordpress.org/ticket/54342

[2021-11-01 14:40] #166 closed, assigned to nobody

[2021-11-01 14:46] #140 closed, assigned to nobody

[2021-11-01 14:49] kjellr commented on #120
The spacing between blocks here largely comes from Gutenberg, and can often be adjusted via Margin or Padding.

We aren't doing any specific per-block adjustments here in the theme at the moment (and I don't think we plan on adding any), so let's close this for now and open any specific issues upstream.

[2021-11-01 14:49] #120 closed, assigned to nobody

[2021-11-01 15:19] jffng opened #190 "Add a hook to allow themes to remove the "Comments are closed." https://core.trac.wordpress.org/ticket/54283"

[2021-11-01 15:19] jffng commented on #190
Accidentally opened.

[2021-11-01 15:19] #190 closed, assigned to nobody

[2021-11-01 16:09] kjellr commented on #180
Yeah, I think it's likely due to that font in the stack (and is potentially present for others too). In any case, I still think it's ok to remove this feature for now since it's not core aspect of the theme design. @colorful-tones has helpfully opened [an issue upstream](https://github.com/WordPress/gutenberg/issues/36122) to introduce greater control over dropcaps, so maybe we can add it back in

[2021-11-01 16:09] #180 closed, assigned to nobody

[2021-11-01 16:25] kjellr commented on #184
That's right — the gray there is part of the site UI. That said, I think it would be worthwhile to bundle block pattern that includes an image in the header to make this a little easier. I'll keep this issue open, but reframe it for that purpose.

[2021-11-01 16:35] kjellr opened #191 "Better organize the code in functions.php"
There's not actually much code in functions.php, but it is very dense. We should clean this up to so that it's easier to read with some extra space and file/function headers.

Here's our functions.php vs. the one for Twenty Twenty-One for example:

Twenty Twenty-Two|Twenty Twenty-One
---|---
<img width="1138" alt="Screen Shot 2021-11-01 at 12 33 32 PM" src="https://user-images.githubusercontent.co

[2021-11-01 16:55] kjellr commented on #177
Thanks — I've opened a new Gutenberg issue for this: https://github.com/WordPress/gutenberg/issues/36124

[2021-11-01 16:58] lwangdu commented on #184
Great would be wonderful thank you for your great!

[2021-11-01 17:35] mburridge commented on #191
I can take this if you want to assign it to me.

[2021-11-01 17:44] kjellr commented on #191
Thanks @mburridge, go for it!

[2021-11-01 17:47] scruffian commented on #179
I made a start on this here: https://github.com/WordPress/twentytwentytwo/pull/192

[2021-11-01 18:02] sagarnasit commented on #184
@kjellr @carolinan Let me know if I can help with the contribution here.

[2021-11-01 19:54] kjellr commented on #172
Just a quick update:

- I began building [that first one](https://user-images.githubusercontent.com/65220155/139283808-fcb4a45f-2485-4734-8387-44dc22bc9774.jpg), but had a hard time getting the image resized down to something reasonable. Will give it another try tomorrow.
- The [next](https://user-images.githubusercontent.com/65220155/139283824-498dd3ba-6f8a-44e4-ae5d-9ce70d4e8474.jpg) [two](https

[2021-11-02 06:11] carolinan commented on #177
And can this be solved by adding the actual markup instead of including the existing file?
If it can, I would not consider this a big but an optimization.

[2021-11-02 07:33] carolinan opened #193 "Next and previous post navigation"
There is no next and previous navigation between single posts, is this intentional?

[2021-11-02 10:23] dgwyer opened #194 "Add schema support for theme.json"
Adding schema support for `theme.json` as described [here](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#developing-with-theme-json) enables automatic validation and auto-complete in supported editors.

Just needs this line adding above `"version"`:

`"$schema": "https://json.schemastore.org/theme-v1.json"`

[2021-11-02 11:51] kjellr commented on #193
Yes, that was a design decision. I liked the simplicity of not having it, and I don't think it's truly necessary. If folks wanted to add it in, it should be relatively simple to do so with the Site Editor.

I'll leave this open for a bit though in case folks have strong opinions otherwise that they'd like to share.

[2021-11-02 12:57] carolinan commented on #193
I think it is fine for the theme to not have it.

The problem is that now the post navigation link block is still experimental, so no other themes can have it either unless they require Gutenberg.

[2021-11-02 13:02] kjellr commented on #193
Yeah, those blocks should not be marked as experimental. Thanks for opening [the issue upstream](https://github.com/WordPress/gutenberg/issues/36134). 👍

[2021-11-02 13:06] #151 closed, assigned to nobody

[2021-11-02 13:13] #30 closed, assigned to jffng

[2021-11-02 14:38] jffng commented on #179
Closing because Post Comments will be available in 5.9, Comments Query Loop is still in early stages.

[2021-11-02 14:38] #179 closed, assigned to nobody

[2021-11-02 17:11] jffng commented on #191
Closed by #195.

[2021-11-02 17:11] #191 closed, assigned to mburridge

[2021-11-02 18:39] #92 closed, assigned to nobody

[2021-11-02 20:04] kjellr commented on #89
^ Regarding all of these bugs: Now that we've gone through all the trouble of getting https://github.com/WordPress/gutenberg/pull/36003 merged, I'm finding more use cases where these look better without that control. For example, take this example with a bunch of menu items and a long tagline.

Here is is normally:

Desktop|Mobile
---|---
<img width="1039" alt="Screen Shot 2021-11-02 at 3 54 16 PM

[2021-11-03 07:56] #193 closed, assigned to nobody

[2021-11-03 08:51] jasmussen commented on #89
Took it for a spin, and for simple short cases, things look good with and without. This one wraps:
![before](https://user-images.githubusercontent.com/1204802/140030924-860b0709-19cd-4715-a058-fc046caa921d.gif)

This one doesn't wrap:

![after](https://user-images.githubusercontent.com/1204802/140030952-b39c825f-a757-48ff-84a8-0e66186226a9.gif)

It's when the flex containers grow very big that the

[2021-11-03 10:01] briceduclos opened #198 "Add support for borders in theme.json"
**Is your feature request related to a problem? Please describe.**
Unlike most block themes available on the WordPress.org repository, Twenty Twenty-Two doesn’t add support for borders in the settings section of the theme.json file. Is it on purpose? It can be weird for users who have created their site using another block theme and want to switch to Twenty Twenty-Two as they can’t edit the block

[2021-11-03 10:02] sagarnasit commented on #161
Based on [this discussion](https://github.com/WordPress/gutenberg/pull/36092#issuecomment-957401611) font smoothing is supposed to be added via theme style rather than theme.json.

Let me know if I can help with that.

[2021-11-03 11:46] mburridge commented on #171
How about this? Happy to receive feedback on content, wording, tone, etc... and suggestions for improvement before creating a PR.

_Inspiration taken from the [introduction post](https://make.wordpress.org/core/2021/10/06/introducing-twenty-twenty-two/)_

[2021-11-03 12:01] Soean commented on #194
Source: https://code.visualstudio.com/docs/languages/json#_mapping-in-the-json

JetBrains IDEs like IntelliJ IDEA, PhpStorm or WebStorm work with it out of the box without this line. I am not sure if we should add this line for one specific editor.

[2021-11-03 12:23] kjellr commented on #198
This is not intentional, and I think it makes sense to add it. This would make a `Good first issue`, so I'm adding that label.  Just missing the following from the `settings` section of theme.json:

[code]

[2021-11-03 12:30] dgwyer commented on #194
The docs indicate that this will work in other editors, not just VS Code:

Is this not the case?

Also, not sure what you meant by:

How do these editors use the schema out of the box?

[2021-11-03 12:44] kjellr commented on #172
A couple other ideas:

- We had to cut the right-sidebar pattern from #164. It didn't work with the content as designed, but I think we could easily design a pattern that does. It would be great to have a right-sidebar pattern represented in the set.
- Our header patterns are overwhelmingly white and similar. I'd like to try varying those a little bit more.

[2021-11-03 12:59] kjellr commented on #99
Just a heads up that [Gutenberg support for button hover states is no longer planned for 5.9](https://github.com/WordPress/gutenberg/issues/4543#issuecomment-958673190), so we'll need to make a call about whether or not to build something into the theme.

I'll sum up my current thoughts here:

- Overall, I'm not supportive of any complicated workarounds. Unfortunately, most theme-specific button C

[2021-11-03 13:23] #194 closed, assigned to nobody

[2021-11-03 13:42] carolinan commented on #99
It is so much easier to only style one button. The other variations can be deregistered 🤐

[2021-11-03 13:45] carolinan commented on #91
I did not find a great solution for the dark footer with title and citation. Adding padding to the sides and not only top and bottom would mean the texts don't align with the content.
One alternative would be to center the texts.

[2021-11-03 13:49] carolinan commented on #90
For the post dates, this pull request could use more reviews https://github.com/WordPress/gutenberg/pull/35864

[2021-11-03 14:04] carolinan commented on #90
@kjellr I really like the irregular posts design. I think it can be kept without pagination. If that's not an option, it can't be done without one query and custom CSS.

On the front the sticky posts are repeated in every column.
Pattern added to a **post**, front view:
![image](https://user-images.githubusercontent.com/7422055/140073305-6877b348-a435-43b9-b559-5120422efff2.png)

here I replaced t

[2021-11-03 14:08] carolinan commented on #184
I played around with the existing image assets as cover blocks, with the logo/site title and both standard and "button only" navigation blocks but it did not feel right. Needs a designer =D

[2021-11-03 14:36] beafialho commented on #172
I see. I can also try to redesign these using the paragraph font.

Working on some colourful header patterns at the moment, will post them here soon.

[2021-11-03 14:55] paaljoachim commented on #99
Can we perhaps get it into a WP 5.9.1 theme update instead?

[2021-11-03 15:30] beafialho commented on #172
For headers, here are some suggestions with color.

<img width="1200" alt="Header-7" src="https://user-images.githubusercontent.com/65220155/140089654-cd07fa83-1b5b-40c4-b57f-64a744b126aa.png">
<img width="1200" alt="Header-5" src="https://user-images.githubusercontent.com/65220155/140089658-4229de18-4a23-4ffe-abb4-d7e97dda6327.png">
<img width="1200" alt="Header-4" src="https://user-images.github

[2021-11-03 16:08] kjellr commented on #172
🎉 These are wonderful, thanks @beafialho. I'll try building these later this week.

[2021-11-03 17:45] #198 closed, assigned to nobody

[2021-11-04 06:36] carolinan commented on #172
The green header with background image looks amazing.

The header with the bird image might be tricky, I tried something similar but depending on screen width and number of menu items, the menu text overlaps the graphics in a way that makes the text difficult to read.

[2021-11-04 07:01] carolinan commented on #108
Here is how to manipulate theme.json to include the thickness:
[code]
The key is closing the textDecoration with the extra ;
![image](https://user-images.githubusercontent.com/7422055/140270944-c0068223-0268-45d5-8f6e-f3260f913550.png)

It's definitely hacky. Its also very small.

[2021-11-04 07:45] carolinan opened #205 "Don't inline style.css"
**Describe the bug**

The header from style.css is being printed in the source in the editors and the front:

[code]

</body>
</html>

**To Reproduce**
Steps to reproduce the behavior:
1. View source.

**Expected behavior**
I expect the file header not to be printed.

**Additional context**
Removing the following from functions.php would solve it, so we need to know if removing it has any side eff

[2021-11-04 09:15] carolinan opened #206 "Visible horisontal scroll bar"
**Describe the bug**
At some screen sizes there is a visible horisontal scroll bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the front of the website
2. Reduce the browser window width to somewhere between 800 and 900px.
3. See the scroll bar

**Expected behavior**
I expect there to not be a visible horisontal scroll bar.

**Screenshots**
![visible scroll bar at the bottom of th

[2021-11-04 10:56] carolinan commented on #75
Post title overflow: https://github.com/WordPress/gutenberg/pull/35703

[2021-11-04 11:44] kjellr commented on #206
@carolinan I'm unable to reproduce this, using the same demo content. Are you able to pinpoint the blocks that are causing this?

[2021-11-04 11:46] kjellr commented on #205
We should just enqueue this normally, since it looks like we're likely going to need little bits of CSS for release anyway.

[2021-11-04 11:56] beafialho commented on #172
Definitely @carolinan, I was hesitant with that one too. It's probably more prudent to keep more abstract images in the header. If there's a more opaque overlay, it could work:

![Mobile](https://user-images.githubusercontent.com/65220155/140309374-59b0800c-91f3-4525-99ae-89e3ffeaeec4.png)

[2021-11-04 11:58] kjellr commented on #172
I think it's worth including anyway. If necessary, we can suggest an ideal number of menu items for the header, just like we do for this one:

<img width="582" alt="Screen Shot 2021-11-04 at 7 56 35 AM" src="https://user-images.githubusercontent.com/1202812/140309513-ce43a622-99f4-4b6a-87c3-75631c7cd24b.png">

I'll try build these today, as additions to https://github.com/WordPress/twentytwentytwo

[2021-11-04 12:57] carolinan commented on #206
I believe it is the submenu. And looking at the screenshot above, the rightmost menu item has a sub menu.

![scroll](https://user-images.githubusercontent.com/7422055/140317297-1cff7f04-278f-4a35-9a27-5c65a707d12e.gif)

[2021-11-04 13:49] kjellr commented on #206
Thanks! @jasmussen: as a navigation block expert, is this something you have any insight into?

Since the theme isn't providing any of its own styling, we shouldn't need to fix this on the theme end.

[2021-11-04 14:02] jasmussen commented on #206
I haven't found a good way to share test markup with the recent changes, so I'll try to speak in a bit more general terms about how things _should_ work.

- When submenus are closed, their contents should not take up space which could cause scrollbars.
- When a menu justified left, submenus should open to the right. When justified right, they should open to the left.

At the moment we have no furt

[2021-11-04 14:04] carolinan commented on #206
You can use this PR to get the markup 😄 https://github.com/WordPress/gutenberg/pull/36200

[2021-11-04 14:06] carolinan commented on #206
The first screenshot is a page list that is justified to the right, -the default in the theme.

The gif is the same page list but converted to links using the option in the toolbar, and has no justification.

[2021-11-04 14:08] carolinan commented on #206
(Note to self for a new issue:... Why are the items in a different order after being converted to links?)

[2021-11-04 14:12] jasmussen commented on #206
😩 it appears both issues mentioned have regressed. I'll see what I can do.

By the way the order of the page list to menu item conversion is a known issue, I think it might have been ticketed by Kerry Liu. If I recall correctly it is a limitation in the API.

[2021-11-04 14:39] jasmussen commented on #206
I believe I have a fix in https://github.com/WordPress/gutenberg/pull/36215.

[2021-11-04 14:53] kjellr commented on #89
I spent a bit of time thinking about this, and I believe you've found one of those examples already:

![](https://user-images.githubusercontent.com/1204802/140030952-b39c825f-a757-48ff-84a8-0e66186226a9.gif)

This will be great for many sites, and wouldn't be possible without the control. I'm still undecided about whether or not we should use it for our patterns here, but I do feel that the tool h

[2021-11-05 01:43] carolinan opened #210 "Switch theme.json to v2 (remove "custom" prefix)"
While version 1 will still work in 5.9, I think the theme should use version 2:
https://github.com/WordPress/gutenberg/pull/36155

Do we also need to wait for https://github.com/SchemaStore/schemastore/pull/1907?

[2021-11-05 13:31] jffng commented on #205
Closed by #207

[2021-11-05 13:31] #205 closed, assigned to nobody

[2021-11-05 14:50] #184 closed, assigned to nobody

[2021-11-05 18:46] kjellr commented on #171
Thanks @mburridge! This is a good start! I have some slight ideas for refinement, and will dive into it next week.

[2021-11-05 19:20] #91 closed, assigned to nobody

[2021-11-05 19:20] #172 closed, assigned to kjellr

[2021-11-07 18:00] ndiego commented on #61
@kjellr before opening a new ticket, I did want to point to another issue due to the lack of a reset. While extremely minor, the spacing on link blocks is not consistent between the editor and frontend. This is because `box-sizing: border-box;` is applied in the editor, but not on the frontend. I am sure there are other situations that are impacted by this. Perhaps this is more of a Gutenberg issu

[2021-11-07 20:26] ndiego commented on #75
I would like to propose that https://github.com/WordPress/gutenberg/issues/35267 gets bumped to Must Have. The title of the ticket is a bit too simplistic, this issue actually nullifies any margin settings set in theme.json if `blockGap` is enabled. It's because the following CSS is so specific. While it may not be impacting the theme currently, it will once the public starts "playing" with it.

!

[2021-11-08 08:21] MaggieCabrera commented on #61
That sounds like a Gutenberg issue to me, definitely

[2021-11-08 08:58] carolinan opened #212 "Try replacing navigation page list with named navigation areas"
The theme could take advantage of the new navigation area block and at the same time, increase the usage and testing of the new block:
https://github.com/WordPress/gutenberg/pull/36178

[2021-11-08 12:52] kjellr commented on #212
How does this work if there _are_ no navigation areas defined? Will the menu appear empty?

[2021-11-08 12:52] kjellr commented on #75
Would you mind sharing this feedback in that ticket? The way we get around this in the theme currently is just by specifying a `blockGap` that is generally compatible with paragraph blocks. But there are a few minor circumstances where that smaller `blockGap` isn't actually ideal.

I'm not 100% certain about it being a must-have (for this theme at least), but since this is overwriting margin value

[2021-11-08 13:26] kjellr opened #213 "Prepare alternate theme.json files"
As noted [in the launch post](https://make.wordpress.org/core/2021/10/06/introducing-twenty-twenty-two/), the theme has been designed to support a range of alternate color schemes. In the comps, these were also paired with fonts. I'm not sure that we'll have [alternate color palette functionality](https://github.com/WordPress/gutenberg/issues/36304) built into WordPress by the time 5.9 is released

[2021-11-08 13:27] kjellr commented on #213
_Adding to the Beta 1 milestone for now, but I definitely don't consider that a hard requirement._

[2021-11-08 13:34] carolinan commented on #212
It is empty on the front if there is no menu previously assigned to the area.

This works in the editor and for using existing menus.
[code]

But with the following code, the page list shows on the front.
In the editor, the page list is showing in the _list view_ but is not used by the navigation block 🤔. Clicking the navigation block shows that it is empty:
[code]

[2021-11-08 13:38] carolinan commented on #212
But we also need this area populated for when people switch *from* Twenty Twenty-Two 🤔 so that their menus show in the correct location.

[2021-11-08 13:55] carolinan commented on #212
https://github.com/WordPress/gutenberg/issues/36306

[2021-11-08 15:53] carolinan opened #214 "Consider adding a print style"
Consider adding a print CSS file to hide clutter on printed pages.

[2021-11-08 17:48] ndiego commented on #75
For sure!

[2021-11-09 14:16] jffng opened #219 "Allow block patterns to be filtered"
**Is your feature request related to a problem? Please describe.**
It was suggested to add a filter that would allow child theme authors to remove block patterns.

More context here and suggestions here: https://github.com/WordPress/wordpress-develop/pull/1817#discussion_r745036953

cc @desrosj

[2021-11-09 15:38] desrosj opened #221 "Stop using `__DIR__` to load block pattern files"
When reviewing the theme for merge into Core, I noticed that [block patterns are being included](https://github.com/WordPress/twentytwentytwo/blob/99db6063beb87eda7f58c3983992d94cd756d9c2/inc/block-patterns.php#L101-L106) using `require __DIR__ . '/patterns/' . $block_pattern . '.php'`.

I was curious if there was a reason for this. If this gets switched to using something like `get_stylesheet_dir

[2021-11-09 16:50] #108 closed, assigned to nobody

[2021-11-09 16:50] #161 closed, assigned to nobody

[2021-11-09 19:20] kjellr commented on #171
I spent a bit of time iterating on the description this morning, and here's where I've ended up:

As you'll no doubt notice, this is significantly influenced by [the announcement post](https://make.wordpress.org/core/2021/10/06/introducing-twenty-twenty-two/). I could use some suggestions for refinement. Namely:

- I'd like to flip that first sentence so that it cites the "foundation" first, and t

[2021-11-10 15:22] jffng opened #224 "Use Navigation Area block"
**Description**
https://github.com/WordPress/gutenberg/pull/36178 added support for a new block, "Navigation Area" which allows navigation to be preserved across theme switches.

We should consider adding this to the theme, assuming it is accepted in 5.9.

[2021-11-10 15:26] kjellr commented on #224
Is this a duplicate of #212?

[2021-11-10 16:13] jffng commented on #224
Yes.

[2021-11-10 16:13] #224 closed, assigned to nobody

[2021-11-10 18:58] jameskoster opened #225 "Consider renaming Homepage template"
I think custom template names are most intuitive when they describe the template itself, rather than the projected use case. The "Page No Separators" and "Single No Separators" work well in this regard.

For example I may want to use the "Homepage" template for my Contact page, at which point the name starts to lose meaning. Not to mention that folks might confuse a template named "Homepage" with

[2021-11-11 09:09] #210 closed, assigned to nobody

[2021-11-11 09:13] carolinan commented on #177
Can I ask for a decision about how long to wait for an upstream solution before I add a pull request to the theme?
An upstream solution seems unlikely because it is not a bug, and because of the time frame; and because the issue has not been listed as a 5.9 must have.

[2021-11-11 09:58] kafleg opened #226 "Not able to read the text of Pattern"
**Describe the bug**
While adding a Large header pattern on the page, I am not able to read the text.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Pages > Add New
2. Click on Content area and add patterns
3. Add Large Header pattern
4. See an error

**Screenshots**
Here is the screenshot.
![Screenshot_2](https://user-images.githubusercontent.com/13062231/141277946-9433af54-f24f-4c5f

[2021-11-11 10:07] kafleg opened #227 "The block contain unexpected or invalid content"
Here is the screenshot of the issues,
![image](https://user-images.githubusercontent.com/13062231/141279190-ade97c10-6a9f-459c-9890-fad105f2f9e9.png)
Layered images with duotime block show this issue in the block editor.

[2021-11-11 14:00] kafleg opened #228 "Mobile Hamberger menu is not clickable"
Tested with the latest WP version 5.8.2 and Gutenberg version 11.9.0, the mobile menu is not clickable. Also, a mobile menu should work with keyboard navigation too.

Make a menu and switch the browser in mobile view and text the mobile menu.

[2021-11-11 15:53] jffng commented on #226
Hi @kafleg, could you share your environment details? I'm unable to reproduce this on WordPress trunk, or 9.8.2 with Gutenberg trunk.

[2021-11-11 15:53] jffng commented on #227
I'm unable to reproduce this on WordPress trunk, or 9.8.2 with Gutenberg trunk. Could you share your environment details? Thank you!

[2021-11-11 16:05] jffng opened #229 "Header patterns with navigation result in block error"
**Describe the bug**
When I go to view or edit the navigation inside a header, it results in the following error:

<img width="1100" alt="Screen Shot 2021-11-11 at 11 00 47 AM" src="https://user-images.githubusercontent.com/5375500/141329549-53edcf3a-24df-4771-8ef9-e419f15e04bd.png">

**To Reproduce**

1. Go to the site editor
2. Verify the navigation inside the header encounters a rendering error

[2021-11-11 16:15] jffng commented on #228
Hi there, I'm unable to reproduce this in the environment shared. Here are my results:

https://user-images.githubusercontent.com/5375500/141331456-5b2286b6-ff49-48c4-a34d-f933cbca71e1.mp4

If there is indeed an issue, it is more likely due to the navigation block itself and may be better directed upstream in Gutenberg. To verify it may be worth testing with [emptytheme](https://github.com/WordPre

[2021-11-11 19:38] chthonic-ds commented on #228
@kafleg does https://github.com/WordPress/gutenberg/issues/35686 describe the issue you're seeing?

[2021-11-12 02:16] kafleg commented on #228
Hi
I see this issue time and again. It was fixed before in Gutenberg and again I see it again.
I am using the Edge browser. But not working in chrome either. And I used the default menu block. The content is for testing purpose.

[2021-11-12 05:39] tellthemachines opened #230 "Update Navigation block in templates to use layout attributes"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The Navigation block was updated in https://github.com/WordPress/gutenberg/pull/36169 to use the new layout controls, such as Query loop, Row, Buttons and Social Icons blocks also use. This means that the attribute structure in Navigation

[2021-11-12 12:45] kjellr commented on #11
I opened an issue upstream to track this: https://github.com/WordPress/gutenberg/issues/36444

[2021-11-12 13:09] kjellr commented on #177
I don't think it can. It's important to allow the header and footer pull from the actual template parts, so that they stay in sync. I think it would be unexpected and confusing to have these look the same as the original templates, but not to stay in sync with template part changes.

A resolution to https://github.com/WordPress/gutenberg/issues/36124 would fix that, and I think that's all we need

[2021-11-12 13:11] kjellr commented on #228
Either way, I think this is an upstream bug and not something specific to the theme — Twenty Twenty-Two just adds the search block and doesn't modify it in anyway. I think it would be ok to close here and open an upstream bug if you're seeing issues.

[2021-11-12 13:44] jffng commented on #133
Closing this since the theme is in core trunk now.

[2021-11-12 13:44] #133 closed, assigned to nobody

[2021-11-12 14:02] MaggieCabrera commented on #221
I tried this and it doesn't work as you described. Using `get_template_directory()` will always return the parent's pattern, even if the same file exists on the child theme. Using `get_stylesheet_directory()` fails if the child theme doesn't have a replacement for each and every one of the patterns.

At the very least a child theme could override `twentytwentytwo_register_block_patterns` directly

[2021-11-12 16:20] jeffpaul commented on #59
Is this still needed or has someone scanned for appropriate credits for the TT2 work?  If this is still open, then I can look to work on that into next week to get a current list of folks noted in the contributors file.

[2021-11-12 17:55] jffng commented on #59
Thanks @jeffpaul, I [updated it](https://github.com/WordPress/twentytwentytwo/commit/cb51e537019b0efdc7d7db040de9d5d6c30ea487) this week since we committed the initial version of the theme to WordPress trunk.

It would be good to double check though, and if you find any folks I missed feel free to open a PR to update the contributors list.

[2021-11-12 18:25] kjellr commented on #213
I opened a PR over here to try these out as child themes: https://github.com/WordPress/theme-experiments/pull/292

[2021-11-12 19:12] jffng commented on #229
Going to wait for Beta 1 and re-test this, closing for now.

[2021-11-12 19:12] #229 closed, assigned to nobody

[2021-11-12 19:25] kjellr commented on #206
This should be fixed in https://github.com/WordPress/gutenberg/pull/36215. I'm going to close for now, but we can re-open if it pops up again.

[2021-11-12 19:25] #206 closed, assigned to nobody

[2021-11-12 19:26] kjellr commented on #102
Since https://github.com/WordPress/gutenberg/issues/35735 is not going to happen before 5.9, I'm going to close this issue for now.

[2021-11-12 19:26] #102 closed, assigned to nobody

[2021-11-12 19:28] kjellr commented on #20
Let's just use this for now: https://github.com/WPTT/theme-test-data

[2021-11-12 19:28] #20 closed

[2021-11-12 19:31] jffng commented on #11
I think we should hard code the styles in CSS, and remove them as soon as global styles supports styling the block.

[2021-11-12 20:16] kjellr commented on #90
This one doesn't look likely for 5.9 since it would be a new feature and it's past the feature freeze. Going to cross it out for now.

I'm a little torn on this one. I think the two options are:

- Do nothing.
- Trim down the number of posts so that this acts more as a "featured posts" layout and less like a page of posts.

Any thoughts/preferences?

[2021-11-12 20:21] kjellr commented on #11
Let's give that a try and see how complicated/verbose the code needs to be.

[2021-11-15 11:50] Sandstromer opened #233 "Question: OK to have multiple H1 headings per page?"
**Description**
I noticed the Site Title in the header is a H1 heading, and also the Query Title in the index template is also a H1 heading.

When viewing an archive/category/author etc there are two H1 headings on the page.

The Post Title blocks within the Query loop in the archive are H2.
If the Query Title was changed to H2, then the Query Loop Post Title's should be changed to H3?

This would

[2021-11-15 13:07] kjellr commented on #233
In general, we shouldn't. Oftentimes, the way this works for themes is:

- The Site Title is a `h1` on the homepage, or any page without a distinct title.
- The Site Title is a `p` on pages where we expect there to be a distinct H1.

Since these are pulling from the same `header.html` template part, we can't have it dynamically change that way. For now, it's calling the Site Title a `h1` everywher

[2021-11-15 13:50] kjellr opened #234 "Post Content padding should match in the editor and front end"
_Consolidating two existing issues into one, since they're tightly related: #144 and #5_

## Current issue

Currently, there's a mismatch between the way site padding behaves in the post/page editor and the frontend.

- In the editor, post content has no padding at all, regardless of its assigned alignment (default, wide, full).
- In the front-end, post content has appropriate default padding (sin

[2021-11-15 13:50] kjellr commented on #144
Closing to consolidate this issue into https://github.com/WordPress/twentytwentytwo/issues/234.

[2021-11-15 13:50] #144 closed, assigned to nobody

[2021-11-15 13:50] kjellr commented on #5
Closing to consolidate this issue into https://github.com/WordPress/twentytwentytwo/issues/234.

[2021-11-15 13:50] #5 closed

[2021-11-15 15:47] kafleg commented on #233
These days Google doesn't mind if any page has multiple H1 tags, but standard practice is to make sure H1 is assigned to the main title of that page.

Reference: https://www.youtube.com/watch?v=zyqJJXWk0gk

[2021-11-15 18:03] kjellr commented on #101
Fixed by #235.

[2021-11-15 18:03] #101 closed, assigned to nobody

[2021-11-15 18:03] kjellr commented on #11
Fixed by #235.

[2021-11-15 18:03] #11 closed

[2021-11-15 20:09] desrosj commented on #221
Thanks for looking into it @MaggieCabrera!

I think the function that we'd want to use here would be `locate_template()`. But could not use it in just one line.

[code]

I don't feel strongly about this and happy to be overruled in favor of better practices for modifying patterns. But here is the scenario I would like to protect against:
- Someone creates a child theme.
- They don't like how one o

[2021-11-16 00:17] felixarntz opened #239 "Improve LCP performance by preloading web font"
**Is your feature request related to a problem? Please describe.**
Today I ran some performance tests for Twenty Twenty-Two, to review how it is performing overall and specifically in comparison with the previous default theme Twenty Twenty-One, which is particularly interesting also to get an early idea on performance implications between the traditional theming approach and full site editing.

T

[2021-11-16 16:50] clucasrowlands commented on #171
Hey @kjellr! Here's a suggested edit, based on what you have (and considering your comments). Feel free to tweak it further, or let me know if you have other questions.

***

You could also consider "core styles" instead of "foundational styles" in that second sentence if you feel "foundation" and "foundational" are too close together.

[2021-11-16 18:02] kjellr commented on #171
Thank you @clucasrowlands! This looks great.

I think we can actually just say "styles" here without "core" or "foundational", and it will work just fine.

I'll open a PR to make this change!

[2021-11-16 19:48] #171 closed, assigned to nobody

[2021-11-16 20:35] #239 closed, assigned to nobody

[2021-11-16 23:05] #116 closed, assigned to nobody

[2021-11-16 23:16] #219 closed, assigned to nobody

[2021-11-17 05:00] jeffpaul commented on #59
@kjellr @jffng note the PR I submitted earlier to add missing props that I unearthed in reviewing merged PRs and their related issues.

[2021-11-17 13:20] jffng commented on #59
Thank you @jeffpaul, I think we can close this one out since those contributors will now be added to the props in the core commit.

[2021-11-17 13:20] #59 closed, assigned to pattonwebz

[2021-11-17 13:22] jffng commented on #221
@desrosj is the scenario you describe solved by the addition of a filter https://github.com/WordPress/twentytwentytwo/pull/238?

[2021-11-17 13:23] jffng commented on #226
Going to close this one but please re-open with environment details if the issue persists, thanks!

[2021-11-17 13:23] #226 closed, assigned to nobody

[2021-11-17 13:23] jffng commented on #227
Going to close this one but please re-open with environment details if the issue persists, thanks!

[2021-11-17 13:23] #227 closed, assigned to nobody

[2021-11-17 13:24] jffng commented on #228
Agreed, if the issue persists I believe it should be addressed upstream in the navigation block / Gutenberg. Thanks.

[2021-11-17 13:24] #228 closed, assigned to nobody

[2021-11-17 13:25] jffng commented on #225
Closed by #244.

[2021-11-17 13:25] #225 closed, assigned to nobody

[2021-11-17 16:38] desrosj commented on #221
The filters would allow a pattern to be removed and re-added elsewhere. But it would not allow a child theme to supply a customized block pattern by including their own version of a pattern in their `patterns` directory.

[2021-11-18 07:37] carolinan opened #248 "BlockGap adds top margin to the header when Gutenberg is inactive"
**Describe the bug**

With WordPress trunk, the current theme version from GitHub, and with Gutenberg **not** enabled,
the blockGap adds a top margin to the header template part.
So there is a white space above the template part:

![the header has a black background color, above the header there is a white space](https://user-images.githubusercontent.com/7422055/142371979-4f62e725-ed1d-460f-a1fb-e

[2021-11-18 10:37] carolinan commented on #248
@youknowriad you may know the answer to the question above?

[2021-11-18 10:40] carolinan commented on #212
I propose closing this, as navigation areas are being reverted:
https://github.com/WordPress/gutenberg/pull/36604/files

[2021-11-18 13:51] kjellr commented on #212
That makes sense. I'll close for now, and we can reopen if something changes.

[2021-11-18 13:51] #212 closed, assigned to nobody

[2021-11-18 13:59] kjellr commented on #233
We had [a discussion about this in #core-themes the other day](https://wordpress.slack.com/archives/C02RP4VMP/p1636990136197100?thread_ts=1636989618.188800&cid=C02RP4VMP) (signup required to view the link). I'm going to surface some of the discussion to add to what's here in the ticket:

- WCAG Guidelines do not prohibit more than one H1 per page.
- The `accessibility-ready` guidelines for the The

[2021-11-18 14:12] SGr33n commented on #233
Hi!
I just entered the discussion :)
My two cents, the best practice should be:
On single post and pages having the post/page title as h1
On archive pages having the archive title as h1
On the home page having the site title as h1

This is also the defalut behavior for the latest Defalut WordPress themes.

[2021-11-18 14:28] aristath commented on #233
I think it's the requirements that need to change in this case....

[2021-11-18 14:52] kjellr commented on #233
The root of the issue here is that the Site Title is part of a non-dynamic template part, and doesn't know which template it's in. So we're stuck with it either being a h1 all the time, or being a paragraph all the time. Both cases will end up with some non-ideal situations. It might be possible for Gutenberg to make the Site Title tag dynamic, but since users can technically change the heading le

[2021-11-18 15:27] SGr33n commented on #233
@kjellr you're right, but is also true that could be enough to distribute the theme working with a correct behavior, then the users can change it. As I can see the page title have a "level" parameter optional, with an h2 default value. The block could define a default value according to the page type. This could also happen on the site name.
Regarding the logo / site name, I see at the moment diff

[2021-11-18 15:57] kjellr commented on #248
Maybe this one? https://github.com/WordPress/gutenberg/pull/35425. That was the fix when we had this issue before.

[2021-11-18 16:47] richtabor commented on #234
Are we thinking those issues would be solved for 5.9? If not, do we have a plan B?

[2021-11-18 17:36] kjellr commented on #234
Yes, we'll figure this out. I think we'll get to a solution in https://github.com/WordPress/gutenberg/issues/35607.

A fallback would be to add CSS to handle this, but honestly I think that defeats the purpose of Gutenberg providing the layout control.

@richtabor I'm curious if you've been dealing with this issue in any other themes?

[2021-11-18 18:54] richtabor commented on #234
Yea, I’m seeing the exact issue. I’ve added a temporary negative margin hack to negate it, but its not awesome - nor is it a standardized solution that all themes would benefit from. If anything Gutenberg could work add the negative margin itself ha 🤷.

I’m hoping for a standard that every full width aligned block can be adopted into automatically without any interference from a theme.

[2021-11-18 19:36] kjellr opened #251 "Add missing text domains in patterns"
As [originally noted in this trac ticket](https://core.trac.wordpress.org/ticket/54467), two patterns have strings that are missing text domains:

 - page-about-media-right.php
 - page-about-media-left.php

Props to @devutpol for finding the bug, and for providing a patch over there in the Trac ticket.

[2021-11-19 04:13] carolinan commented on #248
Except that was added in 11.8, which means it should already be included, no?

[2021-11-19 10:23] carolinan opened #255 "Update "Footer with navigation and copyright" and "Footer with social links and copyright" patterns to use the site title block"
**Describe the bug**

Could this be updated to include the site title block instead of a hard coded text? I think it would be possible now with the row block available?

[code]

[2021-11-19 10:54] youknowriad commented on #248
PHP changes backports are manual so it's definitely possible that some of this has been missed during the backports. Let's add this to the must haves to figure it out.

[2021-11-19 11:28] carolinan opened #256 "Reconsider adding a search template"
In the site editor, when adding a new template, the user has the option to select between search and front page:

![Template selection in the site editor when clicking on "Add new" in the template list view](https://user-images.githubusercontent.com/7422055/142615491-0ebad24f-8e58-49c2-bd11-8e4f11370190.png)

If they select search, they are met with a blank template.
I think it would be easier for

[2021-11-19 11:32] MaggieCabrera commented on #256
Shouldn't it inherit what's on index.html from just template hierarchy? I agree that TT2 should add a default search template because it should provide good defaults for most possible templates, but I'm thinking this is going to happen to a lot of themes and if the user doesn't add one, the frontend will show the fallback, why doesn't the editor do the same?

[2021-11-19 11:38] carolinan commented on #256
It probably only checks if the template exists, not if it is exists but is blank.

[2021-11-19 11:48] carolinan commented on #256
@MaggieCabrera Would you like to open a new Gutenberg issue for it? I am about to end my work week.

[2021-11-19 11:55] MaggieCabrera commented on #256
yep, will do!

[2021-11-19 12:57] MaggieCabrera commented on #256
Opened https://github.com/WordPress/gutenberg/issues/36648 and I don't really know what to tag it to be honest

[2021-11-19 13:09] kjellr commented on #256
Thanks for the issue. In the near term, I think adding a `search.html` template might make sense so that we can display the title of the search. (We can do that right? Does it use the Archive Title block?)

[2021-11-19 15:54] kjellr commented on #255
_Technically_ yes it can be done this way. Here's example markup:

[code]

But it ends up looking wrong because the blockGap is far larger than a normal space:

<img width="230" alt="Screen Shot 2021-11-19 at 10 52 08 AM" src="https://user-images.githubusercontent.com/1202812/142652040-42778cdd-a5a8-4cd2-b1af-17e494b27729.png">

I don't think we can get that fixed without a solution to https://git

[2021-11-19 16:15] kjellr commented on #230
I tried giving this a go, but swapping out with the markup above (and a few other variations I tried) all threw markup errors:

<img width="1092" alt="Screen Shot 2021-11-19 at 11 11 48 AM" src="https://user-images.githubusercontent.com/1202812/142655459-8fd4da23-d086-479e-8826-714202a184d5.png">

Is that still the markup we should be using?

[2021-11-19 16:34] Andrew-Starr commented on #256
Sadly no, the Archive Title does nothing when used in a search context :(

[2021-11-19 16:52] kjellr commented on #256
If that's the case, I'm not sure there's much benefit to adding a search template at this point.

[2021-11-20 02:19] carolinan commented on #255
What about using the real site title instead of the hardcoded words, since these are PHP patterns? 🤔

[2021-11-22 01:16] tellthemachines commented on #230
Oh, I see the issue. Sorry, there's a typo in my snippet; it shouldn't have the closing slash because the navigation block in the template has a closing tag already 🤦

This should work:

``

[2021-11-22 05:56] carolinan commented on #256
I think the benefit of not having a blank template in the site editor is bigger than the trouble of having to add a heading block?

[2021-11-22 09:59] jameskoster commented on #256
We should probably open an issue in core for that.

It is closely related to https://github.com/WordPress/gutenberg/issues/36609 and could combine to form an "improving search" initiative.

[2021-11-22 15:07] kjellr commented on #256
Yes, but this should really be fixed upstream in #36648, not just in the theme. Let's leave this issue open to track the issue on our end, but push to have it fixed upstream.

[2021-11-22 15:11] kjellr commented on #255
Hmm that's a good thought. My concern is that it won't stay in sync if you changed your site title though. Since the user would've already seen this intelligently populate, they'd probably think of that as a bug. 🤔

[2021-11-22 16:26] kjellr commented on #248
I can confirm that https://github.com/WordPress/gutenberg/pull/35425 is the missing commit. I added a note upstream, added the backport tag, and added it to the 5.9 must-haves project.

I'm going to close this one for now, but we can always re-open if this gets missed again in the next Beta.

[2021-11-22 16:26] #248 closed, assigned to nobody

[2021-11-22 16:50] kjellr commented on #230
Thanks @tellthemachines! I have a PR here: https://github.com/WordPress/twentytwentytwo/pull/260

[2021-11-22 20:37] kjellr commented on #251
Fixed in #254

[2021-11-22 20:37] #251 closed, assigned to nobody

[2021-11-23 05:29] carolinan commented on #256
My worry is that there are a very large number of requests for things that needs to be addressed for 5.9,
while it should be fixed upstream, there are perhaps more important usability related problems with the editor and UX that needs to be prioritized.
An improved query title block can be added in Gutenberg at a later release, and it can be fully tested there until 6.0, or 6.1 if needed.

[2021-11-23 12:13] kjellr opened #261 "Use new appearanceTools flag to opt into optional UI"
As per https://github.com/WordPress/gutenberg/pull/36646, the theme can now use `'appearanceTools': true` in its `theme.json` file to opt into most of the design tools UI that is currently available in the theme. This can replace all of the one-off declarations below:

[code]

[2021-11-23 12:17] kjellr commented on #256
It's true, but we now have a longer timeline, so we'll see. I'll milestone this issue so we can be sure to keep track of it either way.

[2021-11-23 14:02] kjellr commented on #233
@carolina + @kafleg, do you have any thoughts on whether changing the requirements is a good idea or not?

[2021-11-23 14:04] kjellr commented on #214
We can leave this open for now, but in keeping with our "lightweight, as little CSS as possible" approach, my guess is that we won't add in a separate print stylesheet for the theme.

[2021-11-23 17:48] #230 closed, assigned to nobody

[2021-11-24 12:41] #261 closed, assigned to nobody

[2021-11-26 09:03] carolinan commented on #210
@ajlende is this the correct way to add the schema back?
`"$schema": "https://schemas.wp.org/trunk/theme.json",`
Does it now support version 2 of theme.json?

(I needed to remove it here: https://github.com/WordPress/twentytwentytwo/pull/217/files#diff-160c735a986cf8c05e1f6b2e9ac89dd0410562d2fe5ccbdc93157bd92f3dc2bcL2)

[2021-11-26 15:06] ajlende commented on #210
That is correct for Visual Studio Code for the latest version. The latest version, however, had a bug where the version was not updated with the changed properties, so I added a fix here https://github.com/WordPress/gutenberg/pull/36917

[2021-11-29 13:41] kjellr opened #264 "Update theme folders to "templates" and "parts""
Now that https://github.com/WordPress/gutenberg/pull/36647 has been merged, we should update the the following folder names:

- `block-templates` ➡️  `templates`
- `block-template-parts`  ➡️  `parts`

[2021-11-29 15:09] kjellr commented on #264
@mburridge has volunteered to take this on. 🙌

[2021-11-30 14:03] bgardner opened #266 "appearanceTools to theme.json — is it working?"
**Describe the bug**
After loading TT2 on a fresh WP install, I do not believe that this setting is working properly. Re: #263

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any block that this setting should support (like group border, padding, etc).
2. Try to use the setting.
3. See nothing.

**Expected behavior**
We should see settings such as border, margin, padding, line height—b

[2021-11-30 14:39] kjellr commented on #266
Would you mind sharing which version of WordPress + Gutenberg you're running?

The controls will only show up if you're running Gutenberg 12.1 (via the Gutenberg repository's `trunk` branch, since 12.1 hasn't been released yet), or WordPress 5.9 Beta 1 (which is planned for today).

[2021-11-30 14:41] bgardner commented on #266
I am running Gutenberg 12.0.1, the most stable version. While I see the original issue shows a Milestone of 12.1 for that setting, it is also mentioned in the 12.0.0 release notes, and covered in the WP Tavern article about 12.0.0.

**Style**
theme.json: Adds a setting property that enables some other ones. (36246)

[2021-11-30 15:09] kjellr commented on #266
I'm don't think it actually did make it into that release.

I just tested against Gutenberg `trunk`, and this works just fine there:

<img width="1049" alt="Screen Shot 2021-11-30 at 10 01 09 AM" src="https://user-images.githubusercontent.com/1202812/144072040-5ac533e7-1c7b-4eea-b5f7-cd4becc5fbff.png">

I do not see those options when I test WordPress `trunk` against https://github.com/WordPress/w

[2021-11-30 15:16] bgardner commented on #266
Yeah, I am chatting with Ryan Welcher now about this in Slack. It was confusing b/c there were a few PR's submitted to address this, one had 12.0.0 milestone and the other 12.1.0. Guessing it was accidentally added to the 12.0.0 Release Notes when, as you mention, it did not make it in. I presume we can close this issue if all of that is true.

[2021-11-30 16:00] ryanwelcher commented on #266
I can't find any references to the code that those PRs introduce in the plugin. It's safe to say that they didn't make it in. I have updated the [release notes](https://github.com/WordPress/gutenberg/releases/tag/v12.0.0) and the [release post ](https://make.wordpress.org/core/2021/11/29/whats-new-in-gutenberg-12-0-0-24-november/)accordingly.

Thanks, everyone!

[2021-11-30 16:01] jffng commented on #266
I can confirm the appearance of the controls in WordPress trunk + using the `appearanceTools` flag (the #1970 branch), but I had to rebase the branch:

<img width="1792" alt="Screen Shot 2021-11-30 at 10 59 35 AM" src="https://user-images.githubusercontent.com/5375500/144082363-521c2233-ced2-4834-ad94-f14b1f8cf9db.png">

[2021-11-30 16:03] kjellr commented on #266
Alright, I think we're good to close this out for now then. Thanks for the report and for testing!

[2021-11-30 16:03] #266 closed, assigned to nobody

[2021-11-30 18:01] kjellr opened #267 "Try and place patterns in default categories instead of declaring our own"
Currently, Twenty Twenty-Two declares five new pattern categories:

- Twenty Twenty-Two General
- Twenty Twenty-Two Footers
- Twenty Twenty-Two Headers
- Twenty Twenty-Two Posts
- Twenty Twenty-Two Pages

Most of these categories should/will/do exist in Gutenberg by default, and it would be great if we could hook into them automatically rather than declare our own duplicate, lengthy category names

[2021-11-30 20:30] kjellr commented on #99
We haven't updated this in a while, so just adding a few notes from various slack conversations:

- @jffng and I have been leaning towards _not_ adding button hover states. The previous explorations linked above have all been too complicated, or haven't looked great. Users will able to add their own hover states when Gutenberg supports this.
- We've had mixed signals on whether or not that would b

[2021-11-30 21:08] shaunandrews commented on #267
I've seen it mentioned a few times that perhaps we should group these categories by the way their created; Having a "Twenty Twenty-Two" section or a "Coblocks" section, but this still leads to having duplicate categories like in the mockup below:

<img width="380" alt="image" src="https://user-images.githubusercontent.com/191598/144127660-40837cbc-3ae6-4575-80b5-643d4d92fa00.png">

Agreed 100%. I

[2021-11-30 21:55] ndiego commented on #267
I have some ideas how this all could functionally work. Will work on getting that more formalized this week.

[2021-12-01 13:50] jffng opened #268 "2022.wordpress.net is empty"
**Description**

2022.wordpress.net doesn't render anything, cc @kraftbj.

[2021-12-01 20:25] ndiego commented on #264
I believe this can be closed.

[2021-12-01 23:30] kraftbj commented on #268
I'm looking. There are no PHP errors and other themes render fine, so it seems to be something with 2022 specifically.

[2021-12-01 23:34] kraftbj commented on #268
I think it is due to this:

https://github.com/WordPress/twentytwentytwo/pull/265#issuecomment-982945635 cc: @kjellr

The site runs stable Gutenberg, but sounds like the theme (at least what is in this repo) is now expecting `trunk` Gutenberg? Is there a simple way to track trunk or should we just wait until 12.1 comes out? The site keeps Gutenberg auto-updated to the latest version, so it'll self

[2021-12-02 05:34] kraftbj commented on #268
For now, I switched to the `v0.4.0` tag so the site will load. Once Gutenberg 12.1 ships, I'll switch back to `trunk` to confirm that 265 was indeed the issue.

[2021-12-02 10:17] kafleg opened #269 "Mobile menu design need to fix"
**Describe the bug**
I have created a primary menu with 3 main menus and sub-menu items. The design on the desktop view is fine, but in the mobile view, it's not so perfect. See the screenshot to understand the issue.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Appearance > Navigation Menus
2. Add New Menu
3. Go to Edit Site and add menu items to the menu
4. Save the template parts

[2021-12-02 10:54] paaljoachim opened #270 "Questions and feedback: Downloading and installing the theme."
I made a new local site with Desktop Server to test out WP 5.9.

I downloaded Twenty Twenty Two version 0.4.0 from: https://github.com/WordPress/twentytwentytwo/releases/ (Please add the link directly to the readme.)

I see this:

![Screenshot 2021-12-02 at 11 28 15](https://user-images.githubusercontent.com/5323259/144404662-b0f248d5-b0b7-4b83-96e4-874b8d04f71f.jpg)

I click "Live Preview" to che

[2021-12-02 12:55] kjellr commented on #269
I haven't tested this yet, but this would require an upstream bug if folks can reproduce it. Twenty Twenty-Two uses the default responsive menu behavior/appearance.

cc @jasmussen

[2021-12-02 12:58] jasmussen commented on #269
Yep, thanks for the report, thanks for the ping. This issue should be fixed by https://github.com/WordPress/gutenberg/pull/36991.

[2021-12-02 13:50] kjellr commented on #269
Awesome, thanks everyone! I'll close for now, but we can re-open if it pops up again.

[2021-12-02 13:50] #269 closed, assigned to nobody

[2021-12-02 20:54] kjellr commented on #268
Yeah, that sounds like the issue, thanks @kraftbj! We can keep this open until 12.1 ships just to confirm.

[2021-12-02 20:55] kjellr commented on #264
Yep, all set. Thanks everyone!

[2021-12-02 20:55] #264 closed, assigned to nobody

[2021-12-03 01:26] letasync commented on #270
It happened with me also but then I downloaded a fresh copy of TT2 Trunk and replaced with the default theme that was available with 5.9 install. It looks normal now. I really liked the shift of Template parts and template under editor screen side menu.

I am using a development version (5.9-beta1-52296)

![tt2 testss1](https://user-images.githubusercontent.com/3252351/144528721-5355ef1e-12f2-4a65

[2021-12-03 08:20] paaljoachim commented on #270
I went ahead and installed the Beta tester plugin and installed WP 5.9 Beta 1. I had two instances of Twenty Twenty Two, and installed the one that did not say trunk. I am now able to enter the Site Editor.

I will just leave the issue open for now.

[2021-12-03 15:16] paaljoachim opened #272 "Empty gaps seen in the site editor."
**Describe the bug**
I open the Site Editor and add a paragraph block. Add a black background color. Notice there is an empty space under the header.

**To Reproduce**
Steps to reproduce the behavior:
1. WP 5.9 beta 1. Go to Site Editor.
2. Add a couple of paragraph blocks with a black background.
3. Notice the large gap just below the header and the smaller gaps between the paragraph blocks.

![S

[2021-12-03 16:06] kjellr commented on #272
Thanks for the report. That spacing is intentional, and is applied within the Header template part. Controls to modify that spacing do not appear though, which is something we should fix upstream. I've opened a PR here:

https://github.com/WordPress/gutenberg/pull/37105

The only other weird bit is that it's a bit hard to discover that the margin is coming from within the template part block. When

[2021-12-03 16:08] jffng commented on #270
Thanks @paaljoachim for the detailed report. Bumpy indeed.

So the issue is — manually installing TT2 when 5.9 or Gutenberg is not activated, then clicking "Live Preview" will result in a blank screen. This isn't great UX, but I don't think this is an issue with the theme.

I do wonder if we should bump the `Requires at least` to `5.9` now that the Beta is live (cc @kjellr if you have thoughts abo

[2021-12-03 16:15] kjellr commented on #270
Yeah, I think this is covered by https://core.trac.wordpress.org/ticket/54460. But cc-ing @jameskoster just to be totally sure.

I don't believe that actually prevents folks from installing this on prior versions (but I haven't checked). If folks can still test this on 5.8+ with Gutenberg, then that's fine to do. But we should confirm first. 😄

[2021-12-03 16:41] paaljoachim commented on #270
Btw the above experience was done with WP 5.8.2. Redoing some of it below here.

I downloaded the theme from here:  https://github.com/WordPress/twentytwentytwo/releases/
Uploaded and installed it to a site running WP 5.8.2.
Updated Gutenberg to 12.0.1.

WP 5.8.2 Appearance submenu looks like this:
![Screenshot 2021-12-03 at 17 35 53](https://user-images.githubusercontent.com/5323259/144638941-b9c

[2021-12-03 16:52] paaljoachim commented on #272
@kjellr  there is an associated issue here:
Site Editor: Hide appender in non-empty documents
https://github.com/WordPress/gutenberg/issues/36827

[2021-12-03 18:37] hellofromtonya commented on #270
@kjellr Yes, I can confirm that [Trac ticket 54460](https://core.trac.wordpress.org/ticket/54460) and [its changeset](https://core.trac.wordpress.org/changeset/52279) did resolve it in WordPress 5.9.0. I just retested and yes, the TT2 theme's "Live Preview" button links to the `wp-admin/site-editor.php`.

[2021-12-03 18:39] joedolson commented on #233
The reason the theme accessibility-ready guidelines are stricter than WCAG is mostly for clarity: the guidelines were written to be easily testable and explicit.

The point being that we couldn't provide extensive accessibility training to theme reviewers, so we needed the rules to be as narrow as possible. As long as we update the guidelines in a way that still meets that criteria, I think it wou

[2021-12-03 18:41] jffng commented on #270
I looked into this more. It's not that the theme can't be run with 5.8.2 and Gutenberg.

The problem is with manual installation using the GitHub generated zip. Github automatically appends the version string to it (`twentytwentytwo-0.4.0`), and Gutenberg's template resolver uses [the directory name](https://github.com/WordPress/gutenberg/blob/trunk/lib/compat/wordpress-5.9/block-template-utils.ph

[2021-12-03 18:48] hellofromtonya commented on #270
@jffng Heads up: this same problem with the version string caused a fatal error condition during 5.9 Beta 1. Investigation and discussion can be found in [Trac ticket 54544](https://core.trac.wordpress.org/ticket/54544).

[2021-12-03 18:49] kjellr commented on #270
We still have this issue for prior versions though. Not sure how to solve it, but I opened this issue to track it: https://core.trac.wordpress.org/ticket/54575

[2021-12-03 19:01] pattonwebz commented on #233
I can take the first pass at updating the wording of this specific guideline and collaborate with a11y team to ensure that the wording still meets the criteria.

[2021-12-03 19:04] justintadlock commented on #221
Since these are not templates, I'd use `get_theme_file_path()` over `locate_template()`: https://developer.wordpress.org/reference/functions/get_theme_file_path/

[2021-12-03 19:05] kjellr commented on #233
Thank you both for the guidance and help here!

[2021-12-03 19:08] mjsdiaz opened #273 "Featured Image section missing on Posts and Pages"
**Describe the bug**
With WP 5.9-beta1 with Twenty Twenty-Two block theme, and when editing a Post (All Posts > Hello World), I don’t see the section to add the Featured Image in the Post Settings sidebar.
If I switch to Twenty Twenty-One, the Featured Image section is there, and if I activate the Gutenberg plugin, the Featured Image section is there in the sidebar.

**To Reproduce**
Steps to repr

[2021-12-03 19:52] irvingbennett opened #274 "Full Site editing is not saving changes."
**Describe the bug**
A clear and concise description of what the bug is.
I have repeteadly tried to add the find widget to my header in Twenty Twenty-two. And other changes as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to appearance -> FSE
2. Click on Header, add widget (search in this case)
3. Click "Save"
4. See error: open a new window and visit site: search should be visibl

[2021-12-03 20:25] #99 closed, assigned to nobody

[2021-12-04 16:43] lwangdu commented on #273
Same here on the WP 5.9 Bate 1.

[2021-12-06 14:44] kjellr commented on #274
Hi there, thanks for the report. Can you share the WordPress (andGutenberg, if applicable) version you're using when you see this behavior? Thank you!

[2021-12-06 14:46] kjellr commented on #272
Looks like we'll likely end up [replacing that margin with a spacer block](https://github.com/WordPress/gutenberg/pull/37105#issuecomment-986827845), but we'll need to wait for it to support custom units. 👍

[2021-12-06 15:07] irvingbennett commented on #274
Hi Kjell,I am using  Twenty Twenty-Two Versión: 1.0, Gutenberg
12.0.2, and WordPress 5.9-beta1, in Spanish. I have PHP 5.6 running
on Media Temple Grid system. If there is is any more you need, let me
know, please.Saludos,Irving

----- Original Message -----
From: "WordPress/twentytwentytwo"
To:"WordPress/twentytwentytwo"
Cc:"Irving Bennett" , "Author"
Sent:Mon, 06 Dec 2021 06:44:18 -0800
Subject:

[2021-12-06 15:20] kjellr commented on #274
Thank you, that's helpful! We'll see if someone else can reproduce.

[2021-12-06 18:05] kjellr commented on #273
Thanks for the reports! I can confirm. If I add `add_theme_support( 'post-thumbnails' );` to the theme, then this works again.

I'm wondering if maybe https://github.com/WordPress/gutenberg/pull/35593 didn't make its way over to core. @youknowriad or @noisysocks, can you confirm?

[2021-12-06 18:14] kjellr commented on #274
I gave this a try, but I had no issues saving the content. Here's what I'm seeing:

https://user-images.githubusercontent.com/1202812/144899617-e6a45b7d-063f-434c-a7a7-66499edcafe2.mp4

WordPress 5.9 Beta 1, No Gutenberg Plugin installed.

[2021-12-06 19:44] lwangdu commented on #274
Also, I didn't any issue about this. I wonder that could be your PHP version 6.5.

[2021-12-07 04:01] noisysocks commented on #273
Yes looks like https://github.com/WordPress/gutenberg/pull/35593 was missed while adding the [FSE infrastructure to Core](https://core.trac.wordpress.org/ticket/54335). @ockham: Are you able to look into adding that?

[2021-12-07 09:14] paaljoachim commented on #273
Does this have anything to do with it? (Related to TT1 but the same issue might be also for Twenty Twenty Two.)
https://github.com/joedolson/my-calendar/issues/197#issuecomment-986306781

"...I assume that block themes don't have current_theme_supports( 'post-thumbnails' ), because that block would be added on demand or something? How does that work? "

[2021-12-07 09:19] paaljoachim commented on #274
Testing:
OSX 11.6.1
Newest Chrome.
Local site running Desktop Server.

I am also able to save when adding a new (Search) block to the header.

[2021-12-07 13:11] kjellr commented on #273
It's possible. That is it's supposed to be added by default for Block Themes but in the Beta it is currently not happening.

[2021-12-07 14:47] kjellr commented on #274
Ok, since three people haven't been able to reproduce, I think I'm going to close this one for now. If the issue arises again, I think it would make the most sense as a new issue upstream in [the Gutenberg repository](https://github.com/wordpress/gutenberg), since it's unlikely there's something specific to Twenty Twenty-Two that's causing this to happen.

Thanks!

[2021-12-07 14:47] #274 closed, assigned to nobody

[2021-12-07 15:11] lwangdu commented on #273
I have tested with TT1 but the feature images works fine. I think something to do with the TT2 theme.

[2021-12-07 15:26] kjellr commented on #273
Unlike Twenty Twenty-One, Twenty Twenty-Two relies on core opting it in by default. So this will be fixed once https://github.com/WordPress/gutenberg/pull/35593 is migrated into core.

[2021-12-07 18:52] dashkevych opened #278 "[Quote]: Border issues"
**Describe the bug**
The theme includes the following settings for the Quote block in `theme.json`:

[code]

It works great in a default block layout (with left alignment). However, issues appear when changing alignment from left to right.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Quote block to the post.
2. Keep default alignment.
3. Add another Quote block to the post.
4. Change

[2021-12-07 19:07] kjellr commented on #90
I'm going to close this one and just leave that last pattern as is for the time being. We can always re-adjust if we get more design tools down the line. 👍

[2021-12-07 19:07] #90 closed, assigned to nobody

[2021-12-07 19:23] kjellr commented on #278
Thanks, @dashkevych! I've opened an upstream issue for Gutenberg to either make the front-end match the editor, or to enable a more flexible way to set the border width via theme.json.

I'll keep an eye on that, and will adjust Twenty Twenty-Two if necessary.

[2021-12-07 20:44] kjellr commented on #233
Based on the discussion and resulting actions above, plus the fact that #249 and #250 have been merged in, I'm going to mark this issue as resolved. We can always re-open if we feel the need to reconsider.

Thanks for the input everyone!

[2021-12-07 20:45] #233 closed, assigned to nobody

[2021-12-07 23:54] noisysocks commented on #273
I opened https://core.trac.wordpress.org/ticket/54597 to track this.

[2021-12-08 04:15] ianlin opened #280 "Shortcode widgets are not rendered if add them outside of Header or Footer blocks"
**Describe the bug**

This was discovered while I was doing compatibility tests for WordPress 5.9 and one of our plugin `woocommerce/woocommerce-product-finder`.

When adding widgets using shortcodes in FSE, if I add the shortcodes outside of the Header or Footer blocks, the widgets are not rendered on the front end.

It's originally reported in `30-gh-woocommerce/woocommerce-product-finder`, but

[2021-12-08 05:12] kafleg opened #281 "Design of Post Comment button in single post"
Installed beta 2 version of 5.9 and preview the single post page. The design of the button is not good.
Do we have a design idea for that button?

* Install WordPress 5.9 beta 2
* Preview the Hello World post
* Scroll down to the comment section.
![image](https://user-images.githubusercontent.com/13062231/145151756-7a48065b-8e3f-49e7-814b-c1fcda46c661.png)

Also, logout the site and see the commen

[2021-12-08 05:12] kafleg commented on #281
@bijayyadav was interested to contribute to the theme. You can check and follow up.

[2021-12-08 05:32] bijayyadav commented on #281
I would like to fix and commit, is there any recommendation for the design? If I get the design, I can fix and commit.

[2021-12-08 08:49] elbsegler63 commented on #273
it is also missing in Beta 2

[2021-12-08 09:09] elbsegler63 opened #282 "BETA 2: white screen at "Browse all Templates"."
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Appearance - Editor (Beta) - Headline
2. Click on 'Browse all Templates"
4. Something can be seen for maybe a quarter of a second. After that the screen is white.

**Expected behavior**
I am expecting a list of all templates that are available.

**Device**
 - Browser:  Firefox and Chrome
 - Version:the latest version is always installed

[2021-12-08 11:02] kafleg commented on #282
Tested with RC 5.9 Beta 2 but there are no such issues found. There is no white screen appearing.

[2021-12-08 11:40] Andrew-Starr commented on #280
It's not an issue with the theme.

It is a more general issue with Gutenberg/FSE, in that shortcodes do not work when added to a template (e.g. page, single etc), and only work when the shortcode is inside a tempate-part (e.g. header or footer).

Templates such as page can contain other template-parts besides header and footer, and the workaround is to first add a custom template-part in the page

[2021-12-08 12:40] kjellr commented on #280
Yeah, I don't believe this is due to anything in the theme. I suggest you add some notes to the Gutenberg issue here, which seems to describe a similar problem: https://github.com/WordPress/gutenberg/issues/35258

[2021-12-08 12:41] kjellr commented on #282
I'm not seeing this either. I'll leave this open for an extra day or so in case someone else can reproduce. But in general if this is an issue I think it belongs in the upstream [Gutenberg repository](https://github.com/wordpress/gutenberg).

[2021-12-08 12:42] kjellr commented on #273
Thanks! I'm going to close this now that it's tracked in https://core.trac.wordpress.org/ticket/54597.

[2021-12-08 12:42] #273 closed, assigned to nobody

[2021-12-08 12:56] kjellr commented on #281
This should not be fixed in the theme. It looks like there's a mismatch between a change in Core and something in the Gutenberg plugin. In Gutenberg, the button carries a `wp-block-button__link` class, which lets it inherit the default button appearance, but this is missing in core.

cc @noisysocks can you help pinpoint what's missing here?

Gutenberg|Core
---|---
<img width="702" alt="Screen Shot

[2021-12-08 14:00] aristath commented on #282
Can't replicate either

[2021-12-08 15:19] #221 closed, assigned to nobody

[2021-12-08 15:25] jffng commented on #147
I'm going to close this since the CSS is minimal and any linting issues will be picked up by core's checks.

[2021-12-08 15:25] #147 closed, assigned to nobody

[2021-12-08 16:52] kjellr commented on #267
I took a stab at adding these to the default categories in the theme itself. A couple observations:

- I was able to get the Query patterns added to the default "Query" category, [as established in Gutenberg](https://github.com/WordPress/gutenberg/blob/2d3d0f368385b271c20ece697e77714e3b5c1e99/lib/block-patterns.php#L14) just fine. But honestly, I think that category name is really confusing for us

[2021-12-08 19:25] naunha opened #285 "show the legend of the featured image"
How can I show in posts, the description and caption of the highlighted image, below it? (no plugin)

Thank you very much for any help.

[2021-12-08 19:40] ryelle commented on #267
"Headers" is a core category, so it should work- the slug is `header`, though. Other than that, the approach in #284 looks good to me.

[2021-12-08 20:20] kjellr commented on #267
Ha, thank you for catching that! I'll give it a try. 🙌

[2021-12-08 21:29] mjsdiaz opened #286 "Beta 2 - changing font size of links in Styles changes all link font sizes"
**Describe the bug**
1. If the font size of Styles > Typography > Links is changed, all links regardless of type pick up that font size.
This includes Blocks such as the Post Title (with Make title a link) and the Post Date (with Link to post)

The Post Title link and Post Date link should not pick up the size assigned under Styles > Typography > Links; they should keep the size assigned in Theme.

[2021-12-08 21:56] kraftbj commented on #268
12.1 of Gutenberg shipped. I updated it on the demo site and reset the `twentytwentytwo` folder to track `trunk` again. It seems to be working 👍🏼 .

I think this issue can be closed now.

[2021-12-09 04:55] noisysocks commented on #281
It looks like this was fixed in https://github.com/WordPress/gutenberg/pull/31338 for the Post Comments Form block, but the Post Comments Form block is not included in WP 5.9. Instead, we include Post Comments block which has a form in it. I think therefore we'll need to make a similar change to https://github.com/WordPress/gutenberg/pull/31338 but for the Post Comments block.

@aristath: Do you t

[2021-12-09 06:00] ianlin commented on #280
@Andrew-Starr and @kjellr

Thanks for the info, I'm not that familiar with all that themes, FSE, etc, still learning. It makes more senses to report this in Gutenberg repo. Cheers! 😄

Closing this as this issue (or feature) is not related to the theme itself.

[2021-12-09 06:00] #280 closed, assigned to nobody

[2021-12-09 07:14] aristath commented on #281
PR in https://github.com/WordPress/gutenberg/pull/37245 👍

[2021-12-09 09:57] elbsegler63 commented on #282
Thanks for the feedback.
I'll set up a new system and go through the steps again. I will contact you in 16 hours at the latest.

[2021-12-09 13:19] kjellr commented on #285
Hi, @naunha! Since Twenty Twenty-Two is a block theme, its functionality is powered by what the Block Editor provides. At the moment, the Featured Image block does not support displaying a description or caption, but if you think that would be helpful, I suggest you [open a feature request in the Gutenberg repository](https://github.com/WordPress/gutenberg/issues/new?assignees=&labels=&template=Fe

[2021-12-09 13:19] #285 closed, assigned to nobody

[2021-12-09 13:19] kjellr commented on #268
Yep! It works. Thanks @kraftbj!

[2021-12-09 13:19] #268 closed, assigned to nobody

[2021-12-09 13:21] kjellr commented on #281
Thanks for the quick investigation and fix!

[2021-12-09 14:23] bgardner opened #287 "blockTypes / Pattern Question"
**Description**
Just a general question to help inform our efforts. What is the significance of code like below, as found in each pattern file:

[code]

[2021-12-09 14:29] kjellr commented on #287
This property was introduced in 5.8:
https://make.wordpress.org/core/2021/07/12/miscellaneous-block-editor-api-additions-in-wordpress-5-8/

It tells the editor to associate the pattern with the block type specified, for use in pattern transforms, or in the pattern carousel here:

<img width="683" alt="Screen Shot 2021-12-09 at 9 29 52 AM" src="https://user-images.githubusercontent.com/1202812/1454

[2021-12-09 16:07] LantosIstvan opened #288 "Document a minimal child theme example"
**Description**

I created a simple child theme for Twenty twenty-two, only with `style.css`, without `functions.php`:

[code]

But the header image not displayed on the News page.
![FireShot Capture 1302 - Hírek – WordPress 5 9 Beta Test - app test](https://user-images.githubusercontent.com/5021728/145432105-2e78d5a9-67bf-48e0-a82b-a8a2710cb583.png)

What we should see:
![FireShot Capture 1303 -

[2021-12-09 16:25] tinjure20 commented on #288
Here is a [pull ticket at GitHub](https://github.com/WordPress/theme-experiments/pull/292) to try a few Twenty Twenty-Two child themes with five examples and [here you can find their examples codes](https://github.com/WordPress/theme-experiments/tree/add/tt2-child-themes).

[2021-12-09 16:38] jffng commented on #286
Thanks for the report @mjsdiaz. I was able to replicate this in TT2. I also tested this in [emptytheme](https://github.com/WordPress/theme-experiments/tree/master/emptytheme), and the issue occurs there too, so it doesn't appear to be TT2-specific.

I will file a follow up issue upstream in Gutenberg and link it here.

[2021-12-09 16:50] LantosIstvan commented on #288
Header images still not present within the example child themes from the theme-experiments repo.

[2021-12-09 17:15] kjellr commented on #288
:wave: The header image issue was fixed yesterday [in this commit](https://github.com/WordPress/twentytwentytwo/pull/283).

[2021-12-09 17:16] kjellr commented on #286
I'm not sure it even makes sense to have a font-size option for links. 🤷

[2021-12-09 17:17] LantosIstvan commented on #288
Thank You!

[2021-12-09 17:17] #288 closed, assigned to nobody

[2021-12-09 18:22] mjsdiaz commented on #286
Thank you for confirming and passing it on, @jffng.

I agree that links do not need their own size setting; they should pick up the size of the block they are in. I always wondered about that setting in theme.json, @kjellr

[2021-12-09 19:42] bgardner commented on #287
Ah, gotcha. Thanks @kjellr.

[2021-12-09 19:42] #287 closed, assigned to nobody

[2021-12-09 20:11] kjellr commented on #286
Thanks! I'm going to close this now that it's been reported upstream.

[2021-12-09 20:11] #286 closed, assigned to nobody

[2021-12-09 21:00] elbsegler63 commented on #282
Although I tried several times, I was unable to reproduce the "error" today.
So I close this issue.
Many thanks for your help.

[2021-12-09 21:00] #282 closed, assigned to nobody

[2021-12-10 13:21] #267 closed, assigned to nobody

[2021-12-10 17:21] sabernhardt commented on #233
This probably belongs in a separate issue, but the _footer_ templates also include the site title as an H1 heading.

[2021-12-10 17:26] kjellr opened #292 "Close button placement does not align with the placement of the menu button"
By default, when you click the menu button on a smalls screen, the location of the close button is slightly different than the location of the menu itself:

![tt2-menu](https://user-images.githubusercontent.com/1202812/145615536-aeb48911-4754-454f-be24-38f064bfd25c.gif)

This is a little annoying, and it would be great if we could fix it. However, it's complicated by the fact that we have no idea

[2021-12-10 17:35] jasmussen commented on #292
It does feel like a bug! I think there's a long term fix for this which we also need to enable the burger icon transforming into the close icon. But nearer term, I wonder if there aren't some margins we can inherit. In any case, I'll take a look first thing Monday.

[2021-12-10 18:12] kjellr commented on #233
Thanks, @sabernhardt! That was unintentional. There's a fix over in https://github.com/WordPress/twentytwentytwo/pull/293.

[2021-12-13 05:06] kafleg commented on #281
Marking this ticket as closed. The issue is fixed. We can reopen later if necessary.

[2021-12-13 05:06] #281 closed, assigned to nobody

[2021-12-13 10:33] jasmussen commented on #292
As promised, I took a look. Unfortunately it's not quite as easy as I had hoped, and there are a few reasons for that. First off, this is how close I got:

![close](https://user-images.githubusercontent.com/1204802/145794567-da59cee8-3a52-4cc3-b0f8-7e3bf07bc4b5.gif)

Vertically, that should be right. But horizontally, it's not. In my test, I was able to inherit the top padding of the container, th

[2021-12-13 11:16] jasmussen commented on #292
I created https://github.com/WordPress/gutenberg/pull/37323 to make it easier to style the padding of the modal as suggested above.

Edit: you should even be able to apply a `max-width: 1000px;` to the inner container, making the X button perfectly overlay the close button regardless of the clamp based rules.

[2021-12-13 14:50] kjellr commented on #292
Cool, we'll spin up a quick PR to try this out.

[2021-12-13 16:15] tinjure20 opened #294 "Registering Block Styles in TT2 Child theme"
**Description**
I have been playing with TT2 child themes with an aim to customize [one of the TT2 child themes example](https://github.com/WordPress/theme-experiments/tree/add/tt2-child-themes) and use in my personal project site.

One of the thing I am trying to do is register block styles in TT2 child theme to style some blocks differently via TT2 child `style.css`. Following [TT1 Blocks](https

[2021-12-13 17:29] jasmussen commented on #292
Depending on how that PR goes, do let me know. If it goes well, I'll apply the "backport" label for https://github.com/WordPress/gutenberg/pull/37323 for TT2 to rely on.

[2021-12-13 17:34] tinjure20 commented on #294
After reviewing code examples from Automattic [Blockbase](https://github.com/Automattic/themes/blob/trunk/blockbase/functions.php#L193) and its child themes ([Quadrant](https://github.com/Automattic/themes/blob/trunk/quadrat/functions.php), [Geologist](https://github.com/Automattic/themes/blob/trunk/geologist/functions.php), ..) I realized that I had to use `get_stylesheet_directory()` instead of

[2021-12-13 17:42] scruffian commented on #294
Adding block styles via the theme is not considered best practice - particularly because users will lose that style when they switch themes. It might be better to suggest these as block styles in Gutenberg.

[2021-12-13 17:58] tinjure20 commented on #294
Thanks. Just for clarification, in this particular example, I was adding codes directly in TT2 theme for **TESTING PURPOSE ONLY** because the theme does not include registered block-styles.

[2021-12-13 19:11] #294 closed, assigned to nobody

[2021-12-13 20:16] scruffian commented on #294
Ah I see, makes sense :)

[2021-12-13 20:29] zaguiini opened #295 "Anchor button and native buttons have different border definitions"
**Describe the bug**

Buttons that are `a` tags do not have borders, however, buttons that are actual buttons (such as `button` and `input type="submit/reset"`) do have the default browser border.

**Expected behavior**

Visual consistency between all sorts of buttons:
- `<a />`;
- `<button />`;
- `<input type="submit" />`;
- `<input type="reset" />`.

**Screenshots**

![image](https://user-images

[2021-12-13 20:49] kjellr commented on #295
Hey @zaguiini thanks for the report. The theme doesn't provide any styles for input elements — the styles you're seeing applied to the input buttons are coming by Gutenberg.

I think there are two possible routes for your issue here:

1. Add a note to [the existing issue here](https://github.com/WordPress/gutenberg/issues/29167), which would allow theme authors to style input elements.
2. Open a n

[2021-12-13 20:49] #295 closed, assigned to nobody

[2021-12-13 21:10] kjellr commented on #295
By the way, I tried this out, but unfortunately that `width` rule gets inherited by the "Outline" border style, which means it has no outline by default. 😅 And since the button block doesn't have a "width" control for the border at the moment, there's no way to override it. So it's a close fix, but not viable at the moment!

[2021-12-14 19:28] zaguiini opened #299 "Replacing default header with header-large-dark adds horizontal padding to it"
**Describe the bug**

When starting with a fresh site and replacing the default header template part with `Header -- Dark`, unexpected horizontal padding is added to the header block itself.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new site with TT2;
2. Highlight the `Header` block;
3. Click `Replace` on the book settings popover;
4. Select `Header -- Dark`.

Verify that some

[2021-12-14 19:50] kjellr commented on #234
I'm going to mark this as resolved for now because https://github.com/WordPress/twentytwentytwo/pull/291 has merged. But we can re-open as needed.

[2021-12-14 19:50] #234 closed, assigned to nobody

[2021-12-14 19:54] kjellr commented on #299
@zaguiini I believe this should be all set as of #291. Here's a GIF of what I see when testing against the latest in this repository:

![headers](https://user-images.githubusercontent.com/1202812/146069855-b2c616a2-6ad8-49de-a6d4-c88fa830f87f.gif)

[2021-12-14 19:58] zaguiini commented on #299
Awesome. Let me try again running `trunk` this time.

[2021-12-14 20:54] zaguiini commented on #299
The issue is indeed fixed. Thanks, @kjellr!

[2021-12-14 20:54] #299 closed, assigned to nobody

[2021-12-16 09:17] sanzeeb3 opened #302 "Why is my wp_localize_script() not working with Twenty Twenty-Two?"
So, I have registered a script in '`wp_enqueue_scripts`' hook.

[code]

and it's enqueued and localized in 'render_callback' of `register_block_type()`

[code]

The callback function where wp_localize_script is called:

[code]

It looks like wp_localize_script isn't working and I'm getting the error 'wpfda_plugins_params' not defined. Though, the script `frontend.min.js` is loaded properly.

This

[2021-12-16 10:00] larsadolfsen opened #303 "Using CSS variables for wp-container max-width"
I suggest using CSS variables for max-width on .wp-containers when Change Alignment is set to None and Wide Width

This would make it much easier to change the width of templates overall, but also for custom styling of elements..

[2021-12-16 12:53] kjellr commented on #303
👋 Hey there. At some point, users should be able to edit those values directly in [the Global Styles panel](https://github.com/WordPress/gutenberg/issues/35955), which should make them far easier to edit.

In general though, the styles that control the layout are defined in theme.json and then generated by Gutenberg, so this would have to be done on the Gutenberg level. If you'd like to open an is

[2021-12-16 13:15] MaggieCabrera commented on #302
I tried to reproduce this using your plugin and I couldn't, I never saw the error on my logs and the plugin seemed to load correctly. The theme doesn't add anything that would prevent this from working as intended, there may be a bug in Gutenberg related to block themes only if indeed the same Gutenberg version breaks this only in TT2.

[2021-12-16 13:55] jessefriedman commented on #270
I came to github to share a similar experience. I have a site on WordPress.com and it had a managed copy of Gutenberg running 12.0.2.  When I installed Twenty Twenty Two it told me that the Gutenberg plugin needs to be installed, **but more importantly,** it didn't tell me that the version I had was out of date.  I didn't realize that the Gutenberg plugin was out of date because it was managed by

[2021-12-16 15:01] sanzeeb3 commented on #302
@MaggieCabrera  Thank you for testing the issue. I've tested on multiple environments and it does not look like the issue with Gutenberg, because the behavior is the same with Shortcode. Here's the simpler version to reproduce the issue.

1) Add the following codes in the theme's functions.php.

[code]

2) Go to posts and add the shortcode [my_shortcode].
3) Visit the page.
4) In the view-source,

[2021-12-16 15:43] MaggieCabrera commented on #302
Ok I see the issue now, but I still don't think it's a TT2 issue but a problem with block themes in general. Try the same steps over on [empty theme](https://github.com/WordPress/theme-experiments/tree/master/emptytheme) which is the bare minimum for a block theme. The script is never enqueued. This must be an issue in core or Gutenberg specific to block themes. I'm running GB trunk when testing t

[2021-12-16 22:45] jffng commented on #270
Thanks for sharing the feedback @jessefriedman.

This will be resolved when 5.9 is released, since we plan to update the theme's required WP version to 5.9 which would prevent its activation in this scenario.

This is tracked in https://core.trac.wordpress.org/ticket/54549

Agreed, which is why we plan to bump the required version. We left it at `5.8` for now to allow testing / development with th

[2021-12-17 09:11] scrobbleme commented on #194
For Jetbrains IDEs there is a WordPress plugin available. If you use this, they *might* be able to recognize it automagically...

[2021-12-17 09:58] Soean commented on #194
The JetBrains IDEs use the filename and search for it on [schemastore.org](https://www.schemastore.org/json/) (which links to the [Gutenberg GitHub Repo](https://raw.githubusercontent.com/WordPress/gutenberg/trunk/schemas/json/theme.json)), see https://www.jetbrains.com/help/idea/json.html#ws_json_using_schemas

[2021-12-17 10:24] scrobbleme commented on #194
@Soean Thanks, but is this really working. I'm using JetBrains since year and never had automatic JSON support...

 Just checked, and had to manually select the theme for a theme.json

[2021-12-17 10:32] Soean commented on #194
Its working in IntelliJ for me and my colleges, sometimes you first have to enable it in your settings or update the schemas.

[2021-12-17 10:38] scrobbleme commented on #194
Awesome, thanks.
I've reset the schema configuration and it seems to work now...  maybe it was just broken, as I basically use the same settings since a decade or so for now and just always upgraded IntellIJ ;)

[2021-12-20 22:41] richtabor opened #309 "Use --wp--custom--spacing--small variable instead of hard coded style"
**Is your feature request related to a problem? Please describe.**
If I modify the `settings.custom.spacing.small` value (from the initial `max(1.25rem, 5vw)` value — then content will not be displayed appropriately throughout the theme, as a number of spacing values are tied are set specifically to `max(1.25rem, 5vw)` — instead of the small custom spacing setting in theme.json.

## Examples:
Here

[2021-12-20 22:52] richtabor commented on #309
Realistically, we should evaluate where it makes sense to use var(--wp--custom--spacing--outer) instead of var(--wp--custom--spacing--small).

As currently `--wp--custom--spacing--small`, ( or its value of `max(1.25rem, 5vw)`) is used everywhere.

[2021-12-21 00:29] richtabor commented on #309
I spun out #310 based on the findings here.

We should consider that PR before deciding if the other `max(1.25rem, 5vw)` values (top/bottom margin and padding throughout patterns) should use the small CSS prop.

[2021-12-23 18:10] TeBenachi opened #311 "Page break block doesn’t appear on the front end"
**Describe the bug**

I wanted to surface this Gutenberg related issue [#29484](https://github.com/WordPress/gutenberg/issues/29484).
When inserting the page break block on a page or post, the page break doesn’t appear on the front end.

**To Reproduce**
1. Create a post
2. Add contents
3. Insert the Page Break block
4. Update
4. See error on the front end

**Expected behavior**

Display a paginat

[2021-12-24 03:26] carolinan commented on #311
I completely forgot about that bug :( but I don't think it can or should be fixed in the theme.

[2021-12-24 17:13] LantosIstvan commented on #206
Horizontal overflow still present in the nightly version: Wordpress v5.9-beta4-52412

The element's route which causing it:

[code]

[2021-12-26 08:38] Roger-fotograf opened #313 "Edit page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://rvbild.se/Staging/'
2. Click on 'edit page'
3. Scroll down to 'Highlighted quote'
4. bp@https://rvbild.se/Staging/wp-content/plugins/gutenberg/build/block-editor/index.min.js?ver=67d21aeb1aa1df344a63b445f5fd8f8e:47:6723
Le@https://rvbild.se/Staging/wp-conten

[2021-12-26 10:00] carolinan commented on #313
Hi Roger
This seems to be a plugin issue, the block mentioned in the issue, "Highlighted quote" is not a WordPress core block.

[2021-12-26 12:14] Roger-fotograf commented on #313
Ok Sorry. Can I use any plugin?

[2021-12-27 09:57] TeBenachi commented on #311
Agree.  The issue appears to be on all block themes I tested 😔

[2021-12-28 20:20] alberto-marin opened #314 "Navigation under the Comment Block is not cleared after floating"
**Describe the bug**
When breaking the comments into pages, the comment navigation is missing CSS styles to clear those elements after float.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a post and make a few comments, let's say 13 (why not?)
2. Activate Break comments into pages under Settings -> Discussion. Set to an amount that will ensure the comment navigation to show.
3. Visu

[2021-12-30 13:14] kjellr commented on #314
Thanks for flagging — I think this probably needs an issue in Gutenberg akin to the one created in response to https://github.com/WordPress/twentytwentytwo/issues/44: https://github.com/WordPress/gutenberg/pull/35958

[2021-12-30 13:17] kjellr commented on #311
Thanks for flagging this one! I agree, it shouldn't be fixed in the theme. I'll close the issue here, but flag it to see if someone can take care of it in Gutenberg for 5.9.

[2021-12-30 18:33] #311 closed, assigned to nobody

[2021-12-31 08:25] carolinan commented on #313
You can try any plugin, but there is no way for the theme developers to test which plugins are compatible with block themes.

[2022-01-03 09:00] sanzeeb3 commented on #302
It looks like `wp_localize_script()` should not be called within the shortcode or block callback.

[2022-01-03 09:00] #302 closed, assigned to nobody

[2022-01-03 14:18] #278 closed, assigned to nobody

[2022-01-03 15:58] #292 closed, assigned to nobody

[2022-01-03 17:13] richtabor opened #317 "Consider using spacing.large value in place of hard-coded 8rem styles in patterns"
**Is your feature request related to a problem? Please describe.**

This is related to #309 — which I've submitted a [PR](https://github.com/WordPress/twentytwentytwo/pull/316) for, to connect the small spacing value to the theme.json entry. In that PR, I'm using the spacing.small theme.json value, instead of hard-coded "small" spacing in patterns.

We're also using `8rem` throughout the patterns

[2022-01-03 17:15] kjellr commented on #317
I think that should work fine. I believe I used `8rem` in there before I created that `var(--wp--custom--spacing--large)` variable, and never got around to updating the existing patterns.

[2022-01-03 17:16] richtabor commented on #317
@kjellr Do you want me to update #316 with this change too? Or keep them separate?

[2022-01-03 17:31] kjellr commented on #317
I think it's fine to do them in the same PR. 👍

[2022-01-04 08:31] fklein-lu opened #318 "Remove inline styles from templates"
**Describe the bug**

A block theme can by definition not use any feature that isn't available to end users. Hardcoded CSS is such a feature, and therefore a no go.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to the Site Editor
2. Open the Single template.
3. Inspect the Group block that contains the Post (the one immediately below the header).
4. See padding being applied to the Gro

[2022-01-04 10:10] carolinan commented on #318
Hi
I'm trying to locate the padding you are talking about in single.html. Which line number?
"the group immediately below the header":
I do not see the padding? https://github.com/WordPress/twentytwentytwo/blob/trunk/templates/single.html#L3

[2022-01-04 13:17] #309 closed, assigned to nobody

[2022-01-04 13:17] #317 closed, assigned to nobody

[2022-01-04 14:42] fklein-lu commented on #318
I double checked, and these have since been removed. But these changes weren't synced back to Core.

There's still inline CSS in the header (https://github.com/WordPress/twentytwentytwo/blob/trunk/parts/header.html#L3) and footer (https://github.com/WordPress/twentytwentytwo/blob/trunk/parts/footer.html#L2).

[2022-01-04 15:01] kjellr commented on #318
The theme was [synced up to core yesterday](https://github.com/WordPress/wordpress-develop/pull/2105), in preparation for the RC1 release. I can't spot a mismatch in `single.html`, but if you're still seeing one, please let me know where.

The inline styles there are part of the standard Gutenberg markup for a Group block, and are synced up with the commented markup above. If you add a group block

[2022-01-04 15:12] #256 closed, assigned to nobody

[2022-01-04 15:23] fklein-lu commented on #318
Cheers, but this is what I see in the header template:
[code]

So how do you get the `var(--wp--custom--spacing--large, 8rem)` in there through the interface? Because when inspecting the block, nothing shows up. Which is different to this being added through the interface as shown in the animation above.

[2022-01-04 15:37] kjellr commented on #318
Gutenberg supports custom values for spacing in most contexts (`var()`, `min()`, `clamp()`, etc.). These are all valid use cases, but are mostly for theme authors and power users to add. There's work underway to treat these values more appropriately in the UI: https://github.com/WordPress/gutenberg/issues/35558

[2022-01-05 08:03] fklein-lu commented on #318
You stated the issue that I see with the approach of hard coding styles very eloquently. Twenty Twenty Two is supposed to showcase the power of the full-site editing as it is _right now_. Not what it can do in the future, relying on workarounds in the meantime.

I find it crucial that users can discover how the theme is built through the Site Editor, and _only_ through the Site Editor. I'm very fa

[2022-01-05 08:25] carolinan commented on #318
(The templates can be reset, but it removes all changes not only the group)

[2022-01-05 09:50] fklein-lu commented on #318
Right, but it's not only that. What if I want another Group with this padding?

[2022-01-05 16:55] oglekler opened #321 "H1 in the footer and H1 in the Header in addition to the H1 in the beginning of the page content"
From an SEO point of view, this is not the best design if there are 3 H1s on the same page:

![2022-01-05_19-47-23](https://user-images.githubusercontent.com/16874687/148256331-cd7bc938-d158-443b-84f9-2db567edad60.png)

![2022-01-05_19-40-13](https://user-images.githubusercontent.com/16874687/148255467-02c9abf6-09bc-4261-9a9b-324e532918f7.png)

I suggest replacing H1 in the Header in the Footer to

[2022-01-05 17:08] kjellr commented on #321
Hey @OlaIola, the use of multiple H1s has been discussed over in https://github.com/WordPress/twentytwentytwo/issues/233. In short, we're keeping them that way for now.

The footer one is a bug though — that was already fixed once in #40 but it was mistakenly undone. I've opened #322 to fix that.

[2022-01-05 17:22] #321 closed, assigned to nobody

[2022-01-05 19:34] kjellr commented on #318
Thanks for the feedback on this. I do appreciate the arguments for not using variables here — I've gone back and forth weighing those same concerns myself, so I totally understand the reasoning.

In general, I personally found it better to use these variables than to stick to static values. There were just far too many areas of the design that would benefit from having dynamic values: everything f